<fieldset>
    <h3>Areas de Interesse*</h3>

    <p>
        Escolha uma ou mais áreas de interesse (VCGE 2.0) que estão relacionadas com este serviço.
    </p>


    <label for="area1">
        <input id="area1" type="checkbox" name="areaDeInteresse"/>
        Administração
    </label>

    <label for="area2">
        <input id="area2" type="checkbox" name="areaDeInteresse"/>
        Agropecuária
    </label>

    <label for="area3">
        <input id="area3" type="checkbox" name="areaDeInteresse"/>
        Comércio e Serviços
    </label>

    <label for="area4">
        <input id="area4" type="checkbox" name="areaDeInteresse"/>
        Comunicações
    </label>

    <label for="area5">
        <input id="area5" type="checkbox" name="areaDeInteresse"/>
        Cultura
    </label>

    <label for="area6">
        <input id="area6" type="checkbox" name="areaDeInteresse"/>
        Defesa Nacional
    </label>

    <label for="area7">
        <input id="area7" type="checkbox" name="areaDeInteresse"/>
        Economia e Finanças
    </label>

    <label for="area8">
        <input id="area8" type="checkbox" name="areaDeInteresse"/>
        Educação
    </label>

    <label for="area9">
        <input id="area9" type="checkbox" name="areaDeInteresse"/>
        Energia
    </label>

    <label for="area10">
        <input id="area10" type="checkbox" name="areaDeInteresse"/>
        Esporte e Lazer
    </label>

    <label for="area11">
        <input id="area11" type="checkbox" name="areaDeInteresse"/>
        Habitação
    </label>

    <label for="area12">
        <input id="area12" type="checkbox" name="areaDeInteresse"/>
        Indústria
    </label>

    <label for="area13">
        <input id="area13" type="checkbox" name="areaDeInteresse"/>
        Meio-ambiente
    </label>

    <label for="area14">
        <input id="area14" type="checkbox" name="areaDeInteresse"/>
        Pesquisa e Desenvolvimento
    </label>

    <label for="area15">
        <input id="area15" type="checkbox" name="areaDeInteresse"/>
        Previdência Social
    </label>

    <label for="area16">
        <input id="area16" type="checkbox" name="areaDeInteresse"/>
        Proteção Social
    </label>

    <label for="area17">
        <input id="area17" type="checkbox" name="areaDeInteresse"/>
        Relações Internacionais
    </label>

    <label for="area18">
        <input id="area18" type="checkbox" name="areaDeInteresse"/>
        Saneamento
    </label>

    <label for="area19">
        <input id="area19" type="checkbox" name="areaDeInteresse"/>
        Saúde
    </label>

    <label for="area20">
        <input id="area20" type="checkbox" name="areaDeInteresse"/>
        Segurança e Ordem Pública
    </label>

    <label for="area21">
        <input id="area21" type="checkbox" name="areaDeInteresse"/>
        Trabalho
    </label>

    <label for="area22">
        <input id="area22" type="checkbox" name="areaDeInteresse"/>
        Transportes
    </label>

    <label for="area23">
        <input id="area23" type="checkbox" name="areaDeInteresse"/>
        Urbanismo
    </label>

</fieldset>