<fieldset class="required">
    <h3>Disponibilidade do serviço em meio digital</h3>

    <p>
        Este serviço está digitalizado e disponível em um site do governo?
    </p>

    <label for="digital_total">
        <input id="digital_total" type="radio" name="digital" value="total"/>
        Sim: serviço totalmente digital
    </label>

    <label for="digital_parcial">
        <input id="digital_parcial" type="radio" name="digital" value="parcial"/>
        Sim: serviço parcialmente digital (partes presenciais, via telefone ou em papel)
    </label>

    <label for="digital_nao">
        <input id="digital_nao" type="radio" name="digital" value="nao"/>
        Não: serviço não possui etapas digitais
    </label>
</fieldset>
