<fieldset class="required">
    <h3>Quais documentos são necessários para solicitar este serviço?</h3>

    <p>
        Descreva quais documentos o solicitante deverá apresentar para iniciar este serviço.
    </p>

    <p>
        Caso certos documentos sejam necessários apenas em alguns casos, é preciso deixar claras as condições em que
        isso acontece. Caso haja múltiplos casos de acesso, com diferentes demandas por documentos, experimente
        organizar a informação em tópicos.
    </p>

    <textarea id="documentosNecessarios" name="documentosNecessarios" maxlength="500" rows="7"></textarea>
</fieldset>
