<fieldset>
    <h3>Eventos da Linha da Vida*</h3>

    <p>
        Escolha um ou mais eventos da linha da vida que estão relacionados com este serviço.
    </p>

    <label for="evento1">
        <input id="evento1" type="checkbox" name="eventoDaLinhaDaVida"/>
        Administrar um negócio
    </label>

    <label for="evento2">
        <input id="evento2" type="checkbox" name="eventoDaLinhaDaVida"/>
        Adolescentes
    </label>

    <label for="evento3">
        <input id="evento3" type="checkbox" name="eventoDaLinhaDaVida"/>
        Aposentar-se
    </label>

    <label for="evento4">
        <input id="evento4" type="checkbox" name="eventoDaLinhaDaVida"/>
        Aproveitar o tempo livre
    </label>

    <label for="evento5">
        <input id="evento5" type="checkbox" name="eventoDaLinhaDaVida"/>
        Cuidar da saúde
    </label>

    <label for="evento6">
        <input id="evento6" type="checkbox" name="eventoDaLinhaDaVida"/>
        Emitir seus documentos
    </label>

    <label for="evento7">
        <input id="evento7" type="checkbox" name="eventoDaLinhaDaVida"/>
        Estudar
    </label>

    <label for="evento8">
        <input id="evento8" type="checkbox" name="eventoDaLinhaDaVida"/>
        Garantir seus direitos
    </label>

    <label for="evento9">
        <input id="evento9" type="checkbox" name="eventoDaLinhaDaVida"/>
        Manter um veículo
    </label>

    <label for="evento10">
        <input id="evento10" type="checkbox" name="eventoDaLinhaDaVida"/>
        Obter crédito e apoio financeiro
    </label>

    <label for="evento11">
        <input id="evento11" type="checkbox" name="eventoDaLinhaDaVida"/>
        Pagar contas e impostos
    </label>

    <label for="evento12">
        <input id="evento12" type="checkbox" name="eventoDaLinhaDaVida"/>
        Prestar serviço militar
    </label>

    <label for="evento13">
        <input id="evento13" type="checkbox" name="eventoDaLinhaDaVida"/>
        Procurar emprego
    </label>

    <label for="evento14">
        <input id="evento14" type="checkbox" name="eventoDaLinhaDaVida"/>
        Ter uma casa
    </label>

    <label for="evento15">
        <input id="evento15" type="checkbox" name="eventoDaLinhaDaVida"/>
        Ter uma família
    </label>

    <label for="evento16">
        <input id="evento16" type="checkbox" name="eventoDaLinhaDaVida"/>
        Trabalhar
    </label>

    <label for="evento17">
        <input id="evento17" type="checkbox" name="eventoDaLinhaDaVida"/>
        Viajar para o exterior
    </label>

</fieldset>