<fieldset>
    <h3>O que é necessário para acessar este serviço?</h3>

    <p>
        Descreva quais documentos o cidadão deverá apresentar para acessar este serviço. Caso certos documentos sejam
        necessários apenas em alguns casos, é preciso deixar claras as condiçõesem que isso acontece. Caso haja
        múltiplos casos de acesso, com diferentes demandas por documentos, experimente organizar a informação em
        tópicos. Preferencialmente, organize em tópicos, como uma lista, começando sempre com um hífen “-“ e letra
        maiúscula, separando cada item com um “enter” (quebra de linha).
    </p>

    <textarea id="necessario" name="necessario" maxlength="500" rows="7"></textarea>
</fieldset>
