<fieldset>
    <h3>Passo-a-passo para a realização deste serviço</h3>

    <p>
        Descreva os principais passos que o solicitante deverá realizar para obter este direito ou cumprir este dever.
    </p>

    <p>
        Utilize apenas uma linha para cada passo, e seja breve: o objetivo é situar o solicitante sobre como proceder.
    </p>

    <p>
        <input id="passo1" type="text" name="passo1" value="" placeholder="Ex.: Agende uma visita"/>
        <input id="passo2" type="text" name="passo2" value="" placeholder="Ex.: Traga seus documentos para verificação"/>
        <input id="passo3" type="text" name="passo3" value="" placeholder="Ex.: Aguarde sua nova CNH pelos correios"/>
    </p>

    <p>
        <button>
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar passo
        </button>
    </p>
</fieldset>
