<fieldset class="required">
    <h3>Passo-a-passo para a realização deste serviço</h3>

    <p>
        Descreva os principais passos que o solicitante deverá realizar para obter este direito ou cumprir este dever.
    </p>

    <p>
        Utilize apenas uma linha para cada passo, e seja breve: o objetivo é situar o solicitante sobre como proceder.
    </p>

    <p>
        <input id="passo1-titulo" type="text" name="titulo" value="" placeholder="Ex.: Agende uma visita"/>
        <textarea id="passo1-descricao" name="descricao" maxlength="500" rows="7" placeholder="Ex.: É necessário agendar uma visita, antes de..."></textarea>
        <input id="passo1-como" type="text" name="como" value="" placeholder="Ex.: www.example.com"/>
    </p>

    <p>
        <button>
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar passo
        </button>
    </p>
</fieldset>
