<fieldset class="required">
    <h3>Próximo passo</h3>

    <p>
        Descreva qual o próximo passo que o solicitante deverá tomar para continuar utilizando este serviço.
    </p>

    <p>
        É importante que a informação sobre como proceder no processo dessa solicitação seja descrita de forma objetiva
        e organizada, além de oferecer um link de para onde o cidadão deverá ir para continuar utilizando esse serviço.
    </p>

    <textarea id="proximoPasso" name="proximoPasso" maxlength="500" rows="7"></textarea>

    <input id="proximoPassoUrl" type="text" name="proximoPassoUrl" value="" placeholder="http://"/>
</fieldset>