<fieldset class="required">
    <h3>Quem pode utilizar esse serviço?</h3>

    <!-- <h3>Quem precisa cumprir esse dever?</h3> -->  <!-- ESTE É O TEXTO QUANDO O SERVIÇO É UM DEVER -->

    <p>
        Descreva de maneira clara e específica quem são os solicitantes que podem de usufruir deste direito ou
        devem cumprir este dever.
    </p>

    <p>
        <input id="quemPodeUtilizar1" type="text" name="quemPodeUtilizar1" value=""
               placeholder="Ex.: Cidadão Brasileiro, maior de 18 anos"/>
        <input id="quemPodeUtilizar2" type="text" name="quemPodeUtilizar2" value=""
               placeholder="Ex.: Cidadão Brasileiro, maior de 16 anos, com declaração de emancipação"/>
        <input id="quemPodeUtilizar3" type="text" name="quemPodeUtilizar3" value=""
               placeholder="Ex.: Cidadão estrangeiro, maior de 18 anos"/>
    </p>

    <p>
        <button><i class="fa fa-plus"></i> Adicionar solicitante</button>
    </p>
</fieldset>