<fieldset class="required">
    <h3>Tempo estimado</h3>

    <p>
        Descreva quanto tempo em média o cidadão levará para obter esse serviço.
    </p>

    <p>
        Entre <input class="inline" id="tempoEstimadoMin" type="text" name="tempoEstimadoMin"/> e
        <input class="inline" id="tempoEstimadoMax" type="text" name="tempoEstimadoMax"/> dias.
    </p>

    <label for="tempoEstimadoExato">
        <input id="tempoEstimadoExato" type="radio" name="exatidaoTempoEstimado" value="exato"/>
        Esta estimativa é válida para qualquer caso de acesso a este serviço.
    </label>

    <label for="tempoEstimadoExcecoes">
        <input id="tempoEstimadoExcecoes" type="radio" name="exatidaoTempoEstimado" value="excecoes"/>
        Podem haver exceções a esta estimativa.
    </label>

    <p class="observacao">
        Caso haja exceções à estimativa de tempo deste serviço, será mostrado um texto de esclarecimento ao cidadão.
    </p>

</fieldset>