<fieldset class="required">
    <h3>Tempo total estimado</h3>

    <p>
        Descreva quanto tempo em média o solicitante levará para obter esse serviço.
    </p>

    <p>
        Entre <input class="inline" id="tempoEstimadoMin" type="text" name="tempoEstimadoMin"/>
        <select class="inline">
            <option>minutos</option>
            <option>horas</option>
            <option>dias</option>
            <option>meses</option>
        </select> e
        <input class="inline" id="tempoEstimadoMax" type="text" name="tempoEstimadoMax"/>
        <select class="inline">
            <option>minutos</option>
            <option>horas</option>
            <option>dias</option>
            <option>meses</option>
        </select>.
    </p>

    <label for="tempoEstimadoExcecoes">
        <input id="tempoEstimadoExcecoes" type="checkbox" name="exatidaoTempoEstimado" value="excecoes"/>
        Pode haver exceções a estas estimativas (será mostrado ao solicitante um texto de esclarecimento)
    </label>

</fieldset>