.alertify {
	width: 500px;
	border: 1px solid #F0F2F1;
    border-radius: 4px;
    top: 54px;
    left: 55%;

    nav {
    	background: none;
    	border: none;
    }

    .alertify-buttons {
    	padding: 10px;
    }

    .alertify-message {
    	font-family: $base-font-family;
    	padding: 10px;
    }

    .alertify-dialog {
    	padding: 10px;
    }

    .alertify-button {
    	font-family: $heading-font-family;
    	color: white;
		text-shadow: none;
		box-shadow: none;
		border: none;
		border-radius: 4px;
		font-weight: normal;
		outline: none;
		margin-right: 7px;
		margin-left: 0;

		&:focus, &:active, &:hover {
			font-family: $heading-font-family;
			outline: none;
			padding: 6px 15px;
			font-weight: normal;
			box-shadow: none;
			text-shadow: none;
			margin-right: 7px;
			margin-left: 0;
		}
    }

    .alertify-button-ok {
		background: $verde;
    }

    .alertify-button-cancel {
    	background: #C5C5C5;
    }
}

.alertify-log {
	position: initial;
    line-height: 9px;
    width: 410px;
    border: transparent;
    text-align: center;
    padding: 15px 5px;
    font-size: 14px;
	text-shadow: none;
	font-family: $openSansBold;
    color: $cinza-escuro;
    background: $amarelo;

    &.alertify-log-success {
        line-height: 15px;
        width: 410px;
		background: $verde !important;
		color: $branco !important;
	}

	&.alertify-log-error {
		background: $vermelho !important;
		color: $branco !important;
	}
}

.alertify-logs {
    top: 45px;
    right: 37%;
}

.alertify-log-hide {
	-webkit-transform: translate(0, -35px);
	   -moz-transform: translate(0, -35px);
	    -ms-transform: translate(0, -35px);
	     -o-transform: translate(0, -35px);
	        transform: translate(0, -35px);
}