.alertify-log-success {
	font-family: $heading-font-family;
	background: $verde;
	text-shadow: none;
}

.alertify-log {
	position: initial;
	height: 40px;
    line-height: 7px;
    width: 249px;
}

.alertify-logs {
    top: 45px;
    right: 25%;
}

.alertify-log-hide {
	-webkit-transform: translate(0, -35px);
	   -moz-transform: translate(0, -35px);
	    -ms-transform: translate(0, -35px);
	     -o-transform: translate(0, -35px);
	        transform: translate(0, -35px);
}