@charset "UTF-8";

#bem-vindo {
  @include span-columns(12);

  margin-top: $tamanho-do-cabecalho + 2em;

  .busca {
    @include span-columns(12);

    input[type=search] {
      @include span-columns(8);
    }

    button#novo {
      @include span-columns(3);
    }

    div#orgaos {
      @include span-columns(8);

      .select2-message-container {
        width: 100%;
        margin-bottom: 14px;
      }
    }
  }

  table {
    margin-top: 50px;

    th {
      color: #606060;
      font-family: $openSansExtraBold;
      text-transform: uppercase;
      font-size: 13px;
      padding-left: 20px;
    }

    td {
      color: #606060;
      padding-left: 20px;
      font-size: 14px;

      &:last-child {
        text-align: right;
        padding-right: 20px;
      }

      .remover, .visualizar, .publicar {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 8px;
        padding: 4px;
        text-align: center;
        border-radius: 4px;

        &:hover {
          color: $branco;
        }
      }

      .remover {
        color: $vermelho;
        &:hover {
          background-color: $vermelho;
        }
      }

      .visualizar {
        &:hover {
          background-color: $azul-regular;
        }
      }

      .publicar {
        &:hover {
          background-color: $verde;
        }
      }
    }

    tr:nth-child(even) {
      background-color: #F7F7F7;
    }

  }

}