@charset "UTF-8";

.cabecalho-cor {
  height: $tamanho-do-cabecalho;
  background-color: $azul-regular;
  position: fixed;
  display: block;
  width: 100%;
}

header {
  @include span-columns(12);
  max-width: 1020px;
  height: $tamanho-do-cabecalho;
  background-color: $azul-regular;
  color: $branco;
  position: fixed;
  z-index: 99;

  .fa-arrow-left {
    font-size: 0.8em;
    margin-right: 5px;
    position: relative;
    top: -2px;
  }

  .nome-pagina {
    @include ellipsis(39%);
    font-size: 12px;
    font-family: $openSansRegular;
    letter-spacing: 0.4pt;
    border-left: 1px solid;
    vertical-align: top;
    position: relative;
    top: 15px;
    line-height: 1.3em;
    padding-left: 10px;
    margin-left: 12px;
  }

  div {
    @include span-columns(4.7 of 12);
    @include omega;
    line-height: 3em;
    min-width: 230px;

    h1 {
      display: inline-block;
      font-family: $openSansExtraBold;
      margin-bottom: 0;
      line-height: 2em;
      color: $branco;
      letter-spacing: -1pt;
      font-size: 16pt;
    }
  }

  #metadados {
    @include span-columns(6.5 of 12);
    float: right;
    margin-top: em(4);
    margin-right: -1px;
    line-height: 2.25em;
  }

  #publicar-view {
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 10px;
    float: right;
  }

  #salvar, #publicar, #descartar, #visualizar, #editar, #nova-pagina, #permissoes {
    float: right;
    margin-top: em(2);
    color: $branco;
    margin-right: 1em;
    font-size: 14px;
    background-color: $verde;
    border-bottom: 2px solid #199772;
    border-right: 2px solid #199772;
    border-top: 3px solid $verde;
    padding-bottom: 9px;
    margin-left: -6px;
    text-transform: uppercase;

    &:not(:disabled):hover {
      background-color: #199772;
      border-top: 3px solid #199772;
    }
  }

  #visualizar, #permissoes {
    background-color: #3f7ef4;
    border-bottom: 2px solid #3972DB;
    border-right: 2px solid #3972DB;
    border-top: 3px solid #3f7ef4;

    &:not(:disabled):hover {
      background-color: #3972DB;
      border-top: 3px solid #3972DB; 
    }
  }

  .label-botao {
    font-family: $openSansBold;
    width: 80px;
    display: inline-block;
    line-height: 1.2em;
    vertical-align: bottom;
    margin-bottom: 3px;
    text-align: right;
    margin-right: 10px;
  }

  #descartar {
    background-color: #fb445a;
    border-bottom: 2px solid #da4a4a;
    border-right: 2px solid #da4a4a;
    border-top: 3px solid #fb445a;

    &:not(:disabled):hover {
      background-color: #da4a4a;
      border-bottom: 2px solid #da4a4a;
      border-right: 2px solid #da4a4a;
      border-top: 3px solid #da4a4a;
    }
  }

  #editar {
    margin-right: 30px;
  }

  #nova-pagina, #permissoes {
    margin-top: 0.38em;

    i {
      margin-right: 5px;
      position: relative;
      top: -1px;
    }
  }

  #logout {
    @include span-columns(1.5 of 12);
    @include omega;
    margin-top: em(6);
    line-height: 2.25em;
    float: right;
    font-size: 14px;
    text-align: right;

    > button {
      line-height: 2.25em;
      margin: 0;
      color: $branco;
      padding: 0;

      &:hover {
        background-color: $azul-escuro;  
      }
    }
  }
}

.mensagem {
  position: absolute;
  top: 55px;
  color: $branco;
  padding: 0 12px;
  border-radius: 4px;
  font-family: $heading-font-family;
  font-weight: normal;
  font-size: 14px;
  margin-left: 163px;

  &.erro {
    background: $vermelho-regular;
  }

  a {
    text-decoration: underline;
    color: $branco;
  }
}
