@charset "UTF-8";

.cabecalho-cor {
  height: $tamanho-do-cabecalho;
  background-color: $azul-regular;
  position: fixed;
  display: block;
  width: 100%;
}

header {
  @include span-columns(12);
  max-width: 1020px;
  height: $tamanho-do-cabecalho;
  background-color: $azul-regular;
  color: $branco;
  position: fixed;
  z-index: 99;

  div {
    @include span-columns(3 of 12);
    line-height: 3em;

    h1 {
      display: inline-block;
      font-family: $openSansExtraBold;
      margin-bottom: 0;
      line-height: 2em;
      color: $branco;
      letter-spacing: -1pt;
      font-size: 18pt;
    }
  }

  #metadados {
    @include span-columns(8 of 12, block-collapse);
    margin-top: em(4);
    margin-right: -1px;
    line-height: 2.25em;

    #salvar {
      float: right;
      margin-top: em(2);
      color: $branco;
      margin-right: 1em;
    }

    #salvar {
      background-color: $verde;

      &:hover {
        background-color: darken($verde, 10%);
      }
    }
  }

  #logout {
    @include span-columns(1 of 12);
    margin-top: em(4);
    line-height: 2.25em;
    float: right;

    > button {
      @include fill-parent;
      line-height: 2.25em;
      padding: 0;
      margin: 0;
      color: $branco;

      &:hover {
        background-color: $azul-escuro;
      }
    }
  }
}

.mensagem {
  position: absolute;
  top: 55px;
  color: $branco;
  padding: 0 12px;
  border-radius: 4px;
  font-family: $heading-font-family;
  font-weight: normal;
  font-size: 14px;
  margin-left: 163px;


  &.erro {
    background: $vermelho-regular;
  }

  a {
    text-decoration: underline;
    color: $branco;
  }
}
