@charset "UTF-8";

#erro {
  @include shift(3 of 12);
  @include span-columns(6 of 12);
  margin-top: $tamanho-do-cabecalho + 2em;

  text-align: left;

  h2 {
    font-size: 140%;

    i {
      margin-left: .5em;
      text-shadow: 0 0 10px #c0c0c0;
    }
  }

  .ticket-erro {
    @include fill-parent;
    margin-top: 16px;
    text-align: center;

    font-family: monospace;
    font-size: 64pt;
    font-weight: bold;
    background-color: #eee;
    color: black;
    padding: 2px .5em;
    display: inline-block;
  }

}