@charset "UTF-8";

#bem-vindo {
  @include span-columns(12);

  .busca {
    background: #F7F7F7;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    padding-top: 2em;
    margin-top: 4em;
    @include span-columns(12);

    input[type=search] {
      @include span-columns(11.7);
    }

    label {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 0;
      font-size: 13px;

      input {
        margin-right: 0;
      }
    }

    .novo {
      @include span-columns(2);
    }

    .select2-message-container {
      @include span-columns(12);
    }

  }

  table {

    th {
      color: #606060;
      font-family: $openSansExtraBold;
      text-transform: uppercase;
      font-size: 13px;
      padding-left: 20px;
    }

    td {
      color: #606060;
      padding-left: 20px;
      font-size: 14px;

      &:last-child {
        text-align: right;
        padding-right: 20px;
      }

      .remover, .visualizar, .publicar {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 8px;
        padding: 4px;
        text-align: center;
        border-radius: 4px;

        &:hover {
          color: $branco;
        }
      }

      .remover {
        color: $vermelho;
        &:hover {
          background-color: $vermelho;
        }
      }

      .visualizar {
        &:hover {
          background-color: $azul-regular;
        }
      }

      .publicar {
        &:hover {
          background-color: $verde;
        }
      }
    }

    tr:nth-child(even) {
      background-color: #F7F7F7;
    }

  }
}

#lista-usuarios {
  table {
    th {
      color: #606060;
      font-family: $openSansExtraBold;
      text-transform: uppercase;
      font-size: 13px;
      padding-left: 20px;
    }

    .nome-usuario-link {
      width: auto;
      padding: 0;
      margin: 0;
      text-transform: none;
      text-decoration: none;
      font-family: $openSansRegular;
      transition: color 0.1s linear;

      &:active,
      &:focus,
      &:hover {
        span {
          color: darken($action-color, 15%);
        }

        background: transparent;
      }

      &:active,
      &:focus {
        outline: none;
      }

      span {
        color: $action-color;
      }
    }

    td {
      color: #606060;
      padding-left: 20px;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: auto;

      &:last-child {
        text-align: right;
        padding-right: 20px;
        overflow: visible;
      }

      .editar, .recuperar-senha {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        text-align: center;
        border-radius: 4px;

        .tooltip-content {
          display: none;
        }

        &:hover {
          color: $branco;
          background-color: $azul-regular;

          .tooltip-content {
            display: block;
            background-color: #ddd;
            position: absolute;
            top: 42px;
            left: -60px;
            width: 140px;
            padding: 10px 15px;
            border-radius: 4px;
            text-align: left;
            text-transform: none;
            font-size: 13px;
            color: $cinza-escuro;
            pointer-events: none;
            text-align: center;
            z-index: 4;

            &:before {
              content: '';
              position: absolute;
              top: -16px;
              left: 67px;
              margin-top: 0;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 8px solid #ddd;
              border-top: 8px solid transparent;
              z-index: 4;
            }
          }
        }
      }
    }

    tr:nth-child(even) {
      background-color: #F7F7F7;
    }
  }
}