@charset "UTF-8";

#bem-vindo {
  @include span-columns(12);

  .busca {
    background: #F7F7F7;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    padding-top: 2em;
    margin-top: 4em;
    @include span-columns(12);

    input[type=search] {
      @include span-columns(11.7);
    }

    label {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 0;
      font-size: 13px;

      input {
        margin-right: 0;
      }
    }

    .novo {
      @include span-columns(2);
    }

    .select2-message-container {
      @include span-columns(12);
    }

  }

  table {

    th {
      color: #606060;
      font-family: $openSansExtraBold;
      text-transform: uppercase;
      font-size: 13px;
      padding-left: 20px;
    }

    td {
      color: #606060;
      padding-left: 20px;
      font-size: 14px;

      &:last-child {
        text-align: right;
        padding-right: 20px;
      }

      .remover, .visualizar, .publicar {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 8px;
        padding: 4px;
        text-align: center;
        border-radius: 4px;

        &:hover {
          color: $branco;
        }
      }

      .remover {
        color: $vermelho;
        &:hover {
          background-color: $vermelho;
        }
      }

      .visualizar {
        &:hover {
          background-color: $azul-regular;
        }
      }

      .publicar {
        &:hover {
          background-color: $verde;
        }
      }
    }

    tr:nth-child(even) {
      background-color: #F7F7F7;
    }

  }

}