@charset 'UTF-8';

@import 'editor/variables';
@import 'editor/tooltip';
@import 'editor/utils';
@import 'editor/select2';
@import 'editor/cabecalho';
@import 'editor/login';
@import 'editor/bem-vindo';
@import 'editor/servico';
@import 'editor/ajuda';
@import 'editor/erro';

#wrapper {
  @include outer-container;

  nav {
    @include span-columns(3);
    position: fixed;
    padding: 1em 1em 1em 0;
    margin-top: $tamanho-do-cabecalho;

    ul li {
      line-height: 1.6em;

      &:hover {
        color: black;
        text-shadow: 0px 0px 2px $branco;
      }
    }
  }
}
