@charset "UTF-8";

#login, #cadastro {
  @include shift(3 of 12);
  @include span-columns(6 of 12);
  margin-top: $tamanho-do-cabecalho + 2em;

  .borda {
    border: 1px solid #ddd;
    padding: 30px 40px 60px 40px;
    border-radius: 4px;
    margin-bottom: 40px;

    p.tooltip-home {
      color: $azul-regular;
      font-size: 12px;
      display: inline;
      position: relative;
      top: 15px;
      text-transform: uppercase;

      span {
        display: none;
        background-color: #ddd;
        position: absolute;
        top: 30px;
        left: 15px;
        width: 240px;
        padding: 10px 15px;
        border-radius: 4px;
        text-align: left;
        text-transform: none;
        font-size: 13px;
        color: $cinza-escuro;

          &:before {
            content: '';
            position: absolute;
            top: -16px;
            left: 111px;
            margin-top: 0;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #ddd;
            border-top: 8px solid transparent;
          }
      }

      &:hover {
        span {
          display: block;
        }
      }
    }

  }

  a {
    font-size: 15px;
    display: block;
    text-align: center;
  }

  p { 
    display: block;
    text-align: center;

  }



  h2 {
    text-transform: capitalize;
    font-size: 22px;
    font-family: $openSansBold;
    text-align: center;
  } 

  .erro {
    color: #d00;
  }

  .info {
    color: #33BA7D;
  }

  h3 {
    margin-top: 20px;
  }

  .erroCampo {
    border: 2px solid #ff5151;
  }

  button {
    float: right;
    margin-top: 10px;
    background-color: $azul-regular;
    color: $branco;

    &:hover {
      color: $branco;
      background-color: $azul-escuro;
    }
  }
}
