@charset "UTF-8";

#menu-lateral {
    @include span-columns(3);
    position: fixed;
    padding: 1em 1em 1em 0;
    margin-top: $tamanho-do-cabecalho;
    max-width: 230px;

  > ul li {
    line-height: 2.5em;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: open_sansextrabold;

    &:hover {
      color: $preto;
      text-shadow: 0 0 2px $branco;
    }

    a {
      width: 135px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 135px;
      color: #606060;

      &:hover {
        color: #333333;
      }
    }

    .remove {
      vertical-align: top;
      padding: 5px 0px 0px 15px;

      &:hover {
        background: none;
      }

    }

    span.check.ok {
      margin-right: 1em;
    }

    ul li {
      font-family: open_sansregular;
      text-transform: initial;
      margin-left: 2em;
      line-height: 2em;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}