@charset "UTF-8";

#menu-lateral {
    @include span-columns(3);
    position: fixed;
    padding: 1em 1em 1em 0;
    margin-top: $tamanho-do-cabecalho;
    max-width: 230px;

  > ul li {
    line-height: 3em;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: open_sansextrabold;

    &:hover {
      color: $preto;
      text-shadow: 0 0 2px $branco;
    }

    a {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    span.check.ok {
      margin-right: 1em;
    }

    ul li {
      font-family: open_sansregular;
      text-transform: initial;
      margin-left: 2em;
    }
  }
}