@charset "UTF-8";

.select2-dropdown {
  font-size: $tamanho-fonte-dropdown;
}

.select2-container {
  @include span-columns(2 of 12);
  display: inline-block;
  min-width: 7em;

  .select2-selection {
    height: 40px;
    background-color: $base-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $form-box-shadow;
    font-size: $tamanho-fonte-dropdown;

    &:hover {
      border-color: darken($base-border-color, 10%);
    }

    &:focus {
      border-color: $action-color;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }


    .select2-selection__arrow {
      @extend .fa;
      @extend .fa-chevron-down;
      
      line-height: 40px !important;
      margin-right: 4px;
      color: #888;

      b {
        visibility: hidden;
      }
    }
    
    .select2-selection__rendered, .select2-selection__arrow {
      line-height: 40px !important;
    }

    .select2-selection__clear {
      @extend .fa;
      @extend .fa-times;

      line-height: 40px !important;
      margin-right: 4px;
      color: #888;

      &::before {
        font-size: 16px;
        margin-right: .5em;
      }

      font-size: 0;
    }
  }
}

#tempo-total-estimado {
  .tipo-entre .select2-selection__rendered, .tipo-ate .select2-selection__rendered {
    margin-right: 1em;
  }
}

.canal-de-prestacao .select2 {
  float: left;
}

// faz scroll ficar sempre visível no MacOS X
.select2-results__options::-webkit-scrollbar {
  -webkit-appearance: none;
}

.select2-results__options::-webkit-scrollbar:vertical {
  width: 11px;
}

.select2-results__options::-webkit-scrollbar:horizontal {
  height: 11px;
}

.select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .5);
}