@charset "UTF-8";

#servico {

  @include span-columns(9);
  @include shift(3);

  .scroll {
    @include span-columns(9 of 9);
    margin-top: 3em;
    top: $tamanho-do-cabecalho;
    overflow-y: auto;
    height: 100%;
    @include row;
  }

  #etapas-do-servico, #solicitantes {
    fieldset {
      border: 1px solid #d5d5d5;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }

  #dados-basicos {
    margin-top: 1em;
  }

  #legislacoes {
    margin-bottom: 5em;
  }

  #nome, #sigla, #nomes-populares, #descricao, #tempo-total-estimado, #editor-markdown, #solicitantes, #palavras-chave, #legislacoes, .titulo, .caso {
    input {
      max-width: 93%;
      width: 93%;
    }
  }

  .editor-markdown {
    textarea {
      margin-bottom: 0;
      max-width: 93%;
      width: 93%;
    }

    .footer {
      color: $cinza-escuro;
      font-size: em(12);
      margin-bottom: 3.25em;
      @include clearfix;

      .markdown-suportado {
        float: left;
      }

      .counter {
        float: right;
        margin-right: 7%;
      }
    }
  }

  #tempo-total-estimado {
    .entre-minimo, .entre-maximo, .ate-maximo {
      @include span-columns(2 of 12);
      display: inline-block;
      float: none;
    }

    .entre-minimo, .ate-maximo {
      margin-left: 1em;
    }

    .entre-maximo, .ate-maximo {
      margin-right: 1em;
    }

    .tipo-entre > span {
      display: inline-block;
      width: 1em;
      margin-left: 0.5em;
      margin-top: 0.5em;
      height: 40px;
    }
  }

  .custos .custo {
    @include clearfix;

    input.descricao {
      @include span-columns(7.23 of 12, block-collapse);
      margin-right: 5px;
    }

    input.moeda {
      @include span-columns(1.4 of 12, block-collapse);
      margin-right: 5px;
    }

    input.valor {
      @include span-columns(2 of 12, block-collapse);
      text-align: right;
      margin-right: 5px;
    }

    button {
      @include span-columns(1 of 12, block-collapse);
    }
  }

  #eventos-da-linha-da-vida, #segmentos-da-sociedade, #areas-de-interesse {
    div {
      @include row;

      label {
        @include span-columns(5.75 of 12, block-collapse);
        display: inline-block;
      }
    }
  }

  #orgao-responsavel {
    .clear {
      width: 93%;
    }
  }
}