@charset "UTF-8";

.tooltip {
  margin-left: 1em;
  border: 2px solid #ddd;
  background-color: #eee;
  border-radius: 999em;
  height: 20pt;
  width: 20pt;
  display: inline-block;
  text-align: center;
  padding-top: .2em;

  @extend .fa;
  @extend .fa-question;

  &:hover {
    box-shadow: 0 0 2px $azul-regular;
    text-shadow: 0 0 2px $branco;
    background-color: $azul-regular;
    color: $branco;
  }
}