@charset "UTF-8";

.check {
  @extend .fa;
  @extend .fa-check;
}

.remove {
  font-size: 18px;
  color: $vermelho;
  z-index: 2;
  margin-bottom: 0;

  &.absolute {
    font-size: 18px;
    @extend .fa;
    @extend .fa-trash-o;
    color: $vermelho;

    &:hover {
      @extend .fa-trash;
      color: $vermelho;
      background-color: transparent;
    }
  }

  > span {
    color: $vermelho;
    @extend .fa;
    @extend .fa-trash-o;

    &:hover {
      @extend .fa-trash;
      color: $vermelho;
    }
  }
}

.clear {
  display: inline-block;
  vertical-align: middle;
}

.margin-left {
  margin-left: 40px;
}

.ok {
  color: $verde;
}

.nok {
  color: $vermelho;
}

.publicado {
  color: $verde;
  font-weight: bold;
}

.npublicado {
  color: $amarelo;
  font-weight: bold;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  right: -10px;
}

.margin-right {
  margin-right: 1em;
}

fieldset > .absolute {
  right: 25px;
}

.opcional::after {
  content: "(opcional)";
  float:right;
  margin-top: 2%;
  font-size: 13px;
  font-family: $openSansRegular;
  font-weight: normal;
  text-transform: initial;
}

.titulo.opcional:after {
  margin-top: 0;
}
