#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: $base-border-radius;
  border: none;
  color: $azul-regular;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: 1;
  padding: 0.6em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;

  &.adicionar {
    font-size: 13px;
  }

  &.adicionar-caso {
    background-color: $cinza-medio;
    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-top: 3px solid $cinza-medio; 

    &:hover {
      background-color: #cccccc;
      border-top-color: #cccccc;
    }
  }

  &:hover,
  &:focus {
    background-color: $cinza-claro;
    color: $azul-escuro;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.cancel {
    background-color: $cinza-medio;
    color: $cinza-escuro;
    margin-right: 10px;
    outline: 0px;

    &:hover,
    &:focus {
      background-color: darken($cinza-medio, 10%);
    }
  }
}
