#{$all-button-inputs},
button, .button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: $base-border-radius;
  border: none;
  color: $azul-regular;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: 1;
  padding: 0.6em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;

  &.adicionar, &.renomear {
    font-size: 13px;
  }

  &.botao-primario {
    margin-top: em(2);
    color: $branco;
    margin-right: 1em;
    font-size: 14px;
    padding-bottom: 9px;
    text-transform: uppercase;
    background-color: #2355b1;
    border-bottom: 2px solid #244e9d;
    border-right: 2px solid #244e9d;
    border-top: 3px solid #2355b1;

    &:not(:disabled):hover {
      background-color: #244e9d;
      border-top: 3px solid #244e9d; 
      color: $branco;
    }

    &:disabled:hover {
      background-color: #2355b1;
      border-top: 3px solid #2355b1; 
      color: $branco;
    }
  }

  &.adicionar-documento, &.adicionar-custo, &.adicionar-canal-de-prestacao {
    padding-left: 0;
    @include clearfix;
  }

  &.renomear {
    background-color: $cinza-medio;
    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-top: 3px solid $cinza-medio; 
    margin-top: 20px;
    margin-right: 50px;
    margin-top: -5px;
 
    &:hover {
      background-color: #cccccc;
      border-top-color: #cccccc;
    }

    &:focus {
     background-color: #cccccc;
     border-top-color: #cccccc; 
    }
  }


  &.adicionar-caso {
    background-color: $cinza-medio;
    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-top: 3px solid $cinza-medio; 
    margin-top: 20px;

    &:hover {
      background-color: #cccccc;
      border-top-color: #cccccc;
    }
  }

  &:hover,
  &:focus {
    background-color: $cinza-claro;
    color: $azul-escuro;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.cancel {
    background-color: $cinza-medio;
    color: $cinza-escuro;
    margin-right: 10px;
    outline: 0px;

    &:hover,
    &:focus {
      background-color: darken($cinza-medio, 10%);
    }
  }
}
