fieldset {
  background-color: $cinza-fundo;
  border: none;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
  margin-bottom: 2px;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}


label {
  margin-bottom: $small-spacing / 2;

  &:not(.titulo) {
    cursor: pointer;
  }

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $small-font-size;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
  font-size: $small-font-size;
  padding: 0.7em;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="checkbox"] {
  @include appearance(none);
  outline: none;

  &:before {
    @extend .fa;
    @extend .fa-square-o;
    color: $cinza-escuro;
    width: 15px;
  }

  &:checked:before {
    @extend .fa-check-square;
  }
}

input[type="radio"] {
  @include appearance(none);
  outline: none;

  &:before {
    @extend .fa;
    @extend .fa-circle-o;
    color: $cinza-escuro;
    width: 15px;
  }

  &:checked:before {
    @extend .fa-check-circle;
  }
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

label.titulo {
  clear: both;
  font-size: 0.8em;
  color: $cinza-escuro;
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
}

@mixin validacao-erro-inline($mensagem, $top1, $top2) {
  display: inline-block;

  & + div label input[type="checkbox"] {
    border: none;
    
    &:not(:checked):before {
      width: 15px;
      @extend .fa-square-o;
      color: $vermelho-regular;
    }
  }

  & ~ label input[type="radio"] {
    border: none;
    
    &:not(:checked):before {
      width: 15px;
      @extend .fa-circle-o;
      color: $vermelho-regular;
    }
  }

  .select2 {
    border: 2px solid $vermelho-regular;
    border-radius: 4px;
  }

  &:before {
    content: $mensagem;
    position: absolute;
    left: 102%;
    top: $top1;
    margin-left: 8px;
    z-index: 2;
    height: 31px;
    line-height: 28px;
    padding: 0 12px;
    color: $branco;
    white-space: nowrap;
    font-size: 13px;
    border-radius: 4px;
    background-color: #ff5151;
    font-family: $openSansBold;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: $top2;
    left: 102%;
    border-top: 8px solid transparent;
    border-right: 8px solid #ff5151;
    border-bottom: 8px solid transparent;
  }
}

@mixin validacao-erro-input($mensagem, $posicao) {
  input, textarea {
    border: 2px solid $vermelho-regular;
  }

  .select2 {
    border: 2px solid $vermelho-regular;
    border-radius: 4px;
  }
  
  &:before {
    content: $mensagem;
    position: absolute;
    right: 7%;
    top: -43px;
    margin-left: 8px;
    z-index: 2;
    height: 31px;
    line-height: 28px;
    padding: 0 12px;
    color: $branco;
    white-space: nowrap;
    font-size: 13px;
    border-radius: 4px;
    background-color: #ff5151;
    font-family: $openSansBold;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: -12px;
    border-top: 8px solid #ff5151;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    right: $posicao;
  }
}

div.input-container {
  position: relative;

  &.erro-campo-obrigatorio {
    @include validacao-erro-input('Campo obrigatório', 117px);
  }

  &.erro-max-500 {
    @include validacao-erro-input('Campo não pode ultrapassar 500 caracteres', 127px);
  }

  &.erro-max-150 {
    @include validacao-erro-input('Campo não pode ultrapassar 150 caracteres', 127px);
  }

  &.erro-max-50 {
    @include validacao-erro-input('Campo não pode ultrapassar 50 caracteres', 127px);
  }

  &.erro-max-15 {
    @include validacao-erro-input('Campo não pode ultrapassar 15 caracteres', 127px);
  }

  &.erro-min-3 {
    @include validacao-erro-input('Deve haver no mínimo três', 127px);
  }

  &.selecione-opcao {
    @include validacao-erro-input('Selecione ao menos uma opção', 159px);
  }
}

h3.input-container {
  position: relative;

  &.erro-campo-obrigatorio {
    @include validacao-erro-inline('Campo obrigatório', -3px, 5px);
  }

  &.erro-max-500 {
    @include validacao-erro-inline('Campo não pode ultrapassar 500 caracteres', -3px, 5px);
  }

  &.erro-max-150 {
    @include validacao-erro-inline('Campo não pode ultrapassar 500 caracteres', -3px, 5px);
  }

  &.erro-max-50 {
    @include validacao-erro-inline('Campo não pode ultrapassar 500 caracteres', -3px, 5px);
  }

  &.erro-max-15 {
    @include validacao-erro-inline('Campo não pode ultrapassar 500 caracteres', -3px, 5px);
  }

  &.erro-min-3 {
    @include validacao-erro-inline('Deve haver no mínimo três', -3px, 5px);
  }

}

.select2-message-container {
  position: relative;

  &.erro-campo-obrigatorio {
    @include validacao-erro-inline('Selecione ao menos uma opção', 7px, 15px);
  }

}
