// Typography
$base-font-family: $openSansRegular;
$heading-font-family: $openSansBold;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.95em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$preto: #333333;

$cinza-escuro: #606060;
$cinza-medio: #dcdcdc;
$cinza-claro: #eef0f1;
$cinza-fundo: #f0f2f1;

$verde: #09B077;

$branco: #ffffff;

$azul-regular: #2c66ce;
$azul-escuro: #1f4da3;

$vermelho-regular: #ff5151;
$vermelho-escuro: #eb3c3c;

// Font Colors
$base-background-color: $branco;
$base-font-color: $cinza-escuro;
$action-color: $azul-regular;

// Border
$base-border-color: $cinza-medio;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
