<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header role="banner" xmlns:th="http://www.thymeleaf.org">
    <div class="auto-grid" th:if="${#httpServletRequest.remoteUser}">
        <form id="logout" th:action="@{/editar/logout}" method="post">
            <span th:text="${#httpServletRequest.remoteUser}"></span>
            <button type="submit">
                <i class="fa fa-sign-out"></i>&nbsp;
                Sair
            </button>
        </form>
    </div>
</header>
</body>
</html>