$max-width: 100%;

@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'neat/settings/grid';

body {
  padding: 0;
  margin: 0;
}

#wrapper {
  @include outer-container;

  > header {
    @include row;
    min-height: em(48);
    max-height: em(48);
    height: em(48);
    background-color: $azul-escuro;
    color: $branco;

    div {
      @include span-columns(4 of 12);
      margin-top: em(4);

      h1 {
        display: inline-block;
        font-family: $openSansExtraBold;
        letter-spacing: -0.5pt;
        font-size: 14pt;
        margin-left: 1em;
        margin-bottom: 0;
        line-height: 2em;
        color: $branco;
      }
    }

    .metadados {
      @include span-columns(4 of 12);
      margin-top: em(4);
    }

    form {
      margin-top: em(4);
      @include span-columns(4 of 12);
      line-height: 2.5em;

      span {
        @include span-columns(1 of 2);
      }

      button {
        @include span-columns(1 of 2);
        line-height: 2.5em;
        padding: 0;
        margin: 0;
        color: $branco;
      }
    }
  }

  > nav {
    background-color: #efe;
    @include span-columns(3);
  }

  #bem-vindo {
    @include shift(2);
    @include span-columns(8);
    margin-top: 2em;
  }
}
