@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

h1 {
  font-size: em(22);
}

h2 {
  font-size: em(18);
  color: #2c66ce;
}

h3 {
  
}

label {
  color: #606060;
}

input,
label,
select {
  &.inline {
    display: inline;
    width: 10%;


    &.inline-lg {
      width: 60%;
    }
  }
}