<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required">
    <h3>Legislação do serviço</h3>

    <p>
        Insira o link da legislação <a href="http://www.lexml.gov.br/">vinda do LEXML</a>.
    </p>

    <p>
        Somente endereços começados com <code>http://www.lexml.gov.br/</code> são válidos.
    </p>

    <p>
        <th:block th:each="legislacao, row : *{legislacoes}">
            <input type="text"
                   class="inline inline-xg"
                   th:field="*{legislacoes[__${row.index}__]}"
                   th:value="${legislacao}"
                   placeholder="http://"/>

            <button type="submit" class="inline remove" name="removerLegislacao" th:value="${row.index}">
                <span class="fa fa-times"></span>
            </button>
        </th:block>

        <input type="text"
               th:if="${servico.legislacoes == null || servico.legislacoes.isEmpty()}"
               th:field="*{legislacoes[0]}"
               value=""
               placeholder="http://"/>
    </p>

    <p>
        <button name="adicionarLegislacao" type="submit">
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar link
        </button>
    </p>

</fieldset>
</body>
</html>