<div id="passo-1" xmlns:th="http://www.thymeleaf.org">
    <h2>Dados Principais</h2>

    <fieldset th:replace="form/dados-principais/_nome"></fieldset>
    <fieldset th:replace="form/dados-principais/_nomes-populares"></fieldset>
    <fieldset th:replace="form/dados-principais/_o-que-e"></fieldset>
    <fieldset th:replace="form/dados-principais/_quem-pode-utilizar"></fieldset>
    <fieldset th:replace="form/dados-principais/_tempo-estimado"></fieldset>
    <fieldset th:replace="form/dados-principais/_orgao-responsavel"></fieldset>
    <fieldset th:replace="form/dados-principais/_segmentos-da-sociedade"></fieldset>
    <fieldset th:replace="form/dados-principais/_eventos-da-linha-da-vida"></fieldset>
    <fieldset th:replace="form/dados-principais/_areas-de-interesse"></fieldset>
</div>
