<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="passo-3" xmlns:th="http://www.thymeleaf.org">
    <h2>Etapas para a realização deste serviço</h2>

    <th:block th:each="etapa, row : ${servico.etapas}">
        <div class="etapa">
            <div class="sub-secao">
                <i class="fa fa-chevron-up"></i>&nbsp;
                <h3 class="inline" th:text="${'Etapa ' + (row.index + 1)}">Etapa X</h3>
                <button class="inline remove-peq" type="submit" name="removerEtapa" th:value="${row.index}">
                    <span class="fa fa-times"></span>
                </button>
            </div>

            <div>
                <fieldset th:replace="form/etapas/_informacoes :: fieldset"></fieldset>
                <fieldset th:replace="form/etapas/_custos :: fieldset"></fieldset>
                <fieldset th:replace="form/etapas/_documentos-necessarios :: fieldset"></fieldset>
                <fieldset th:replace="form/etapas/_canais-de-prestacao :: fieldset"></fieldset>
            </div>
        </div>
    </th:block>
    <th:block th:if="${servico.etapas == null || servico.etapas.isEmpty()}">
        <div class="etapa">
            <div class="sub-secao">
                <i class="fa fa-chevron-up"></i>&nbsp;
                <h3 class="inline">Etapa 1</h3>
            </div>
            <div>
                <fieldset th:replace="form/etapas/_informacoes :: fieldset"></fieldset>
                <fieldset th:replace="form/etapas/_custos :: fieldset"></fieldset>
                <fieldset th:replace="form/etapas/_documentos-necessarios :: fieldset"></fieldset>
                <fieldset th:replace="form/etapas/_canais-de-prestacao :: fieldset"></fieldset>
            </div>
        </div>
    </th:block>

    <p>
        <button type="submit" name="adicionarEtapa">
            Adicionar etapa
        </button>
    </p>

</div>
</body>
</html>