<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="passo-3" xmlns:th="http://www.thymeleaf.org">
    <h2>Etapas para a realização deste serviço</h2>

    <th:block th:each="etapa, row : ${servico.etapas}">
        <fieldset th:replace="form/etapas/_informacoes :: fieldset"></fieldset>
        <fieldset th:replace="form/etapas/_custos :: fieldset"></fieldset>
        <fieldset th:replace="form/etapas/_documentos-necessarios :: fieldset"></fieldset>
        <fieldset th:replace="form/etapas/_canais-de-prestacao :: fieldset"></fieldset>

        <p class="remove-med">
            <button type="submit" name="removerEtapa" th:value="${row.index}">
                <i class="fa fa-times"></i>&nbsp;
                Remover etapa
            </button>
        </p>
    </th:block>

    <th:block th:if="${servico.etapas == null || servico.etapas.isEmpty()}">
        <fieldset th:replace="form/etapas/_informacoes :: fieldset"></fieldset>
        <fieldset th:replace="form/etapas/_custos :: fieldset"></fieldset>
        <fieldset th:replace="form/etapas/_documentos-necessarios :: fieldset"></fieldset>
        <fieldset th:replace="form/etapas/_canais-de-prestacao :: fieldset"></fieldset>
    </th:block>

    <p>
        <button type="submit" name="adicionarEtapa">
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar etapa
        </button>

    </p>

</div>
</body>
</html>