<div id="passo-3" xmlns:th="http://www.thymeleaf.org">
    <h2>Etapas para a realização deste serviço</h2>


    <fieldset th:replace="form/etapas/_informacoes"></fieldset>
    <fieldset th:replace="form/etapas/_custos"></fieldset>
    <fieldset th:replace="form/etapas/_documentos-necessarios"></fieldset>
    <fieldset th:replace="form/etapas/_canais-de-comunicacao"></fieldset>

    <p>
        <button>
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar etapa
        </button>
    </p>
</div>
