<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="introducao">
    <h2>
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
        </span>
        Antes de começar: o que é um Serviço Público?
    </h2>

    <p>
        Serviços Públicos são as ações do Estado para atender às demandas da sociedade,
        relativas ao exercício de um direito ou ao cumprimento de um dever.
    </p>

    <p>
        Eles devem estar associados aos resultados que a sociedade enxerga como entregues a si,
        e são compostos por uma ou mais etapas.
    </p>

    <p>
        Não são serviços:
    </p>

    <dl>
        <dt><i class="fa fa-times danger"></i> Agendamentos</dt>
        <dd>
            o benefício ou dever pode ser cumprido através deles, mas um agendamento em si é só uma etapa
            de um fluxo maior;
        </dd>

        <dt><i class="fa fa-times danger"></i> Acesso a sistemas</dt>
        <dd>
            um sistema geralmente oferece diversos serviços, cada um com seus requisitos e etapas
            específicos, e devem ser mais explícitos;
        </dd>

        <dt><i class="fa fa-times danger"></i> Documentos</dt>
        <dd>
            entende-se que serviços são a emissão, renovação ou cancelamento de
            documentos, e estes são resultados da utilização de um dos serviços;
        </dd>

        <dt><i class="fa fa-times danger"></i> Caixas postais</dt>
        <dd>
            são um canal de contato entre o cidadão e o órgão para a realização de serviços.
        </dd>
    </dl>
</div>
</body>
</html>