<div id="introducao">
    <h1>Antes de começar: o que é um Serviço Público?</h1>

    <p>
        Considera-se que Serviços Públicos são as ações do Estado para atender às demandas da sociedade,
        relativas ao exercício de um direito ou ao cumprimento de um dever.
        Eles devem estar associados aos resultados que a sociedade enxerga como entregues a si,
        e são compostos por um ou mais passos.
    </p>

    <p>Não são serviços:</p>

    <ul>
        <li>Agendamentos: o benefício ou dever pode ser cumprido através deles, mas um agendamento em si é só um passo de um fluxo maior;</li>
        <li>Acesso a um sistema: um sistema geralmente oferece diversos serviços, cada um com seus requisitos e passos específicos, e devem ser mais explícitos;</li>
        <li>Documentos, como passaportes: entende-se que serviços são a emissão, renovação ou cancelamento de documentos, e estes são resultados da utilização de um dos serviços;</li>
        <li>Caixas postais: é um canal de contato entre o cidadão e o órgão para a realização de serviços.</li>
    </ul>
</div>

