<div id="passo-2" xmlns:th="http://www.thymeleaf.org">
    <h2>Passo 2: Dados Principais</h2>

    <fieldset th:replace="form/passo-2/_nome"></fieldset>
    <fieldset th:replace="form/passo-2/_o-que-e"></fieldset>
    <fieldset th:replace="form/passo-2/_quem-pode-utilizar"></fieldset>
    <fieldset th:replace="form/passo-2/_documentos-necessarios"></fieldset>
    <fieldset th:replace="form/passo-2/_tempo-estimado"></fieldset>
    <fieldset th:replace="form/passo-2/_digitalizacao-servico"></fieldset>
    <fieldset th:replace="form/passo-2/_passos"></fieldset>
    <fieldset th:replace="form/passo-2/_orgao-responsavel"></fieldset>
    <fieldset th:replace="form/passo-2/_segmentos-da-sociedade"></fieldset>
    <fieldset th:replace="form/passo-2/_eventos-da-linha-da-vida"></fieldset>
    <fieldset th:replace="form/passo-2/_areas-de-interesse"></fieldset>
</div>
