<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Markdown</title>
</head>

<body layout:fragment="corpo">
<span class="cabecalho-cor"></span>

<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>Editor de Serviços</h1>
            </a>
        </div>
        <div class="metadados">&nbsp;</div>
        <span></span>
    </header>

    <div id="ajuda">
        <h2>O que é Markdown?</h2>

        <p>
            Markdown é um formato de texto leve e fácil de usar para estilizar todos os tipos de escrita. Você controla
            a forma como o documento é exibido; criar listas e incluir links no texto são apenas algumas das coisas que
            podemos fazer com Markdown.
        </p>

        <p>
            Em sua maioria, Markdown é apenas texto simples, com alguns caracteres que não fazem parte do alfabeto
            para ditar como a exibição será feita, como <code>#</code> ou <code>*</code>.
        </p>

        <h3>Itálico</h3>

        <p>
            Para demarcar texto que deve ser exibido em itálico, coloque um asterisco antes e outro depois do texto. Por
            exemplo:
        </p>

        <pre><code>    Este texto é comum, mas *este está em itálico*, como esperado. </code></pre>

        <p>
            Quando formatado pelo Markdown, o texto acima ficará assim:
        </p>

        <blockquote>
            Este texto é comum, mas <em>este está em itálico</em>, como esperado.
        </blockquote>


        <h3>Negrito</h3>

        <p>
            Para demarcar texto que deve ser exibido em negrito, coloque dois asteriscos antes e outros dois após o
            texto. Por exemplo:
        </p>

        <pre><code>    Este texto é comum, mas **este está em negrito**, como esperado. </code></pre>

        <p>
            Quando formatado pelo Markdown, o texto acima ficará assim:
        </p>

        <blockquote>
            Este texto é comum, mas <strong>este está em negrito</strong>, como esperado.
        </blockquote>



        <h3>Listas</h3>

        <p>
            Com Markdown, é fácil criar listas, numeradas ou não. Para criar uma lista numerada, basta elencar um item
            por linha, começando com o número do mesmo, e um ponto (.), seguido do texto desejado:
        </p>

        <pre><code>
    1. Este é o primeiro item
    2. Este é o segundo
    3. E assim por diante...
        </code></pre>

        <p>
            Listas não-numeradas são ainda mais simples: elenque cada item em uma linha, começando-a por um asterisco
            (*) e um espaço, seguido do texto desejado:
        </p>

        <pre><code>
    * Este é o primeiro item
    * Este é o segundo
    * E assim por diante...
        </code></pre>

        <h3>Links</h3>

        <p>
            Para incluir um link no texto, escreva o texto que deverá conter o link entre chaves, seguido pelo
            link entre parênteses. Por exemplo:
        </p>

        <pre><code>
    Este é um link para o [Portal de Serviços](http://servicos.gov.br).
        </code></pre>

        <p>
            Quando processado pelo Markdown, o link acima será exibido assim:
        </p>

        <blockquote>
            Este é um link para o <a href="http://servicos.gov.br">Portal de Serviços</a>.
        </blockquote>

        <h3>Combinações</h3>

        <p>
            É possível combinar listas e links facilmente:
        </p>

        <pre><code>
        * [Portal de Serviços](http://servicos.gov.br)
        * [Editor de Serviços](http://servicos.gov.br/editar)
        * [Portal Brasil](http://brasil.gov.br)
        </code></pre>

        <p>
            Será exibido da seguinte forma:
        </p>

        <blockquote>
            <ul>
                <li>
                    <a href="http://servicos.gov.br">Portal de Serviços</a>
                </li>
                <li>
                    <a href="http://servicos.gov.br/editar">Editor de Serviços</a>
                </li>
                <li>
                    <a href="http://brasil.gov.br">Portal Brasil</a>
                </li>
            </ul>
        </blockquote>


        <h3>Para saber mais</h3>

        <p>
            É possível formatar diversos outros tipos de conteúdo utilizando Markdown. Para uma referência completa da
            ferramenta, visite o <a target="_blank" href="http://daringfireball.net/projects/markdown/basics">site
            oficial (em inglês)</a>.
        </p>

    </div>
</div>

</body>
</html>