<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Acessar o Editor de Serviços</title>
</head>

<body layout:fragment="corpo">

<span class="cabecalho-cor"></span>
<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>
                    <i class="fa fa-arrow-left"></i>
                    Editor de Serviços
                    <span class="nome-pagina">Novo usuário</span>
                </h1>
            </a>
        </div>
        <div class="metadados">&nbsp;</div>
        <span></span>
        <form id="logout" th:action="@{/editar/sair}" method="post">
            <button type="submit">&nbsp; Sair &nbsp;
            <i class="fa fa-sign-out"></i></button>
        </form>
    </header>

    <form id="cadastro" th:action="@{/editar/usuarios/usuario}" th:object="${formularioUsuario}" method="post">
        <fieldset>
            <p th:if="${param.sucesso}" class="info">
                <i class="fa fa-info"></i>&nbsp;
                Cadastro realizado com sucesso
            </p>

            <div th:if="${#fields.hasAnyErrors()}" class="erro">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
            </div>

            <h3 for="nome_completo">Nome Completo</h3>
            <input id="nome_completo" name="nome" type="text" th:value="*{nome}" autofocus="true" th:class="${#fields.hasErrors('nome')}? erroCampo" />

            <h3 for="cpf">CPF</h3>
            <input id="cpf" name="cpf" type="text" th:value="*{cpf}" placeholder="___.___.___-__" th:class="${#fields.hasErrors('cpf')}? erroCampo"/>

            <h3 for="email_primario">Email Primário</h3>
            <input id="email_primario" name="emailPrimario" th:value="*{emailPrimario}" type="email"
                   placeholder="email@instituicional.gov.br" th:class="${#fields.hasErrors('emailPrimario')}? erroCampo"/>

            <h3 class="opcional" for="email_secundario">Email Secundário</h3>
            <input id="email_secundario" name="emailSecundario" th:value="*{emailSecundario}" type="email"
                   placeholder="email@secundario.org" th:class="${#fields.hasErrors('emailSecundario')}? erroCampo"/>

            <div th:class="${#fields.hasErrors('siorg')}? select2Erro">
                <div id="siorg-select"></div>
            </div>

            <h3 for="siape" class="opcional">SIAPE</h3>
            <input id="siape" name="camposServidor.siape" type="text" th:value="*{camposServidor.siape}" placeholder="siape" th:class="${#fields.hasErrors('camposServidor')}? erroCampo"/>

            <h3 for="papel-select">Papel</h3>
            <div id="papel-select"></div>

            <label class="checkbox" for="servidor"><input id="servidor" name="camposServidor.servidor" th:field="*{camposServidor.servidor}" type="checkbox" th:class="${#fields.hasErrors('camposServidor')}? erroCampo"/> Este usuário é um servidor</label>

            <button type="submit">
                Cadastrar
            </button>
        </fieldset>
    </form>
</div>

<script src="/editar/assets/vendor.js"></script>
<script src="/editar/assets/app.js"></script>
<script th:inline="javascript">
    var siorgInicial = /*[[${formularioUsuario.siorg}]]*/ null;
    var papeis = /*[[${papeis}]]*/;
    require('usuarios/siorg')(m, siorgInicial, 'siorg-select');
    require('usuarios/papel')(m, papeis, 'papel-select');
    require('usuarios/cpf-mask')('cpf')
</script>
</body>
</html>
