<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Erro</title>
</head>

<body layout:fragment="corpo">

<span class="cabecalho-cor"></span>

<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>Editor de Serviços</h1>
            </a>
        </div>
        <div class="metadados">&nbsp;</div>
        <span></span>
    </header>

    <div id="erro">

        <h2>Ocorreu um erro <i class="fa fa-bomb fa-lg"></i> </h2>

        <p>
            A aplicação detectou uma falha inesperada. Por favor, tente a operação novamente.
        </p>

        <p>
            Caso a falha persista, entre em contato com o suporte utilizando o seguinte identificador:
        </p>

        <div class="ticket-erro" th:text="${#httpServletRequest.getAttribute('req.ticket').substring(28)}">
            xxxxxx
        </div>
    </div>

</div>
</body>
</html>
