<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Principal</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
</head>
<body layout:fragment="corpo">
<div style="position: fixed; top: 40%; left: 40%; width: 20%; height: 20%">
    <p style="text-align: center">
        <i class="fa fa-cog fa-spin fa-5x"></i>
        <br/>
        Carregando...
    </p>
</div>
<script src="/editar/assets/vendor.js"></script>
<script src="/editar/assets/app.js"></script>
<script>require('modulos');</script>
</body>
</html>