<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layout">

<head>
    <title>Principal</title>
</head>

<body>
	<div layout:fragment="corpo">
		<section id="principal" class="auto-grid" role="main">
			<div th:replace="form/passo-1"></div>
			<div th:replace="form/passo-2"></div>
			<div th:replace="form/passo-3"></div>

			<button class="cancel">Descartar alterações</button>
			<button>Publicar</button>

			<span class="aviso-salvo-em">salvo às hh:mm de dd/mm/aaaa</span>
		</section>
	</div>
</body>
</html>