<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Principal</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <meta name="_csrf_token" th:content="${_csrf.token}"/>
    <meta name="_csrf_name" th:content="${_csrf.parameterName}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body layout:fragment="corpo">

<div style="position: fixed; top: 40%; left: 40%; width: 20%; height: 20%;">
    <p style="text-align: center">
        <i class="fa fa-spinner fa-pulse fa-5x"></i>
        <br/>
        <br/>

        &nbsp;&nbsp;&nbsp;Carregando...
    </p>
</div>

<script src="/editar/assets/vendor.js"></script>
<script src="/editar/assets/app.js"></script>
<script>require('modulos')(m);</script>
<script>
  loggedUser = '';

  m.request({
    url: '/editar/api/ping',
    extract: function (xhr) {
      loggedUser = JSON.parse(xhr.responseText).profile.name.split(' ')[0];

      return xhr.responseText;
    },
    background: true
  });
</script>
</body>
</html>