<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title th:text="#{${'instrucoes.tituloHead.' + pagina}}">Intruções Recuperação de Senha</title>
</head>

<body layout:fragment="corpo">

<span class="cabecalho-cor"></span>
<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>
                    <i class="fa fa-arrow-left"></i>
                    Editor de Serviços
                    <span class="nome-pagina" th:text="#{${'instrucoes.titulo.' + pagina}}">Recuperar senha</span>
                </h1>
            </a>
        </div>
        <div class="metadados">&nbsp;</div>
        <span></span>
        <form id="logout" th:action="@{/editar/sair}" method="post">
            <span id="username"></span>
            <button type="submit">
            <i class="fa fa-sign-out"></i></button>
        </form>
    </header>

    <div id="informacoes">
        <a href="/editar/usuarios"><i class="fa fa-arrow-left"></i> Voltar para lista de usuários</a>
        <fieldset>
            <h3 th:text="#{${'instrucoes.descricao.' + pagina}}">Passo-a-passo para recuperação de senha</h3>
            <p th:text="#{${'instrucoes.passo1.' + pagina}}">1. Copie o link para que o usuário possa refazer sua senha</p>
            <p th:text="#{${'instrucoes.passo2.' + pagina}}">2. Envie um email para o usuário com o link abaixo, para que ele ou ela possa criar uma nova senha</p>
        </fieldset>
        <fieldset>
            <h3>Nome</h3>
            <p th:text="${usuario.nome}"></p>
            <h3>E-Mail</h3>
            <p th:text="${usuario.emailPrimario}"></p>
            <h3 th:text="#{${'instrucoes.link.' + pagina}}">Link para recuperação de senha</h3>
            <input type="text" th:value="${'http://www.servicos.gov.br' + link}"></input>
        </fieldset>
    </div>
</div>
<script>
    var r = new XMLHttpRequest();
    r.open("GET", "/editar/api/ping", true);
    r.onreadystatechange = function () {
      console.log(r.responseText);
      if (r.readyState != 4 || r.status != 200) return;
      document.getElementById('username').innerHTML = JSON.parse(r.responseText).profile.name.split(' ')[0];
    };
    r.send();
</script>
</body>
</html>