<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Editor de Serviços</title>
    <link href="/editar/assets/main.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/editar/assets/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
</head>

<body id="novo" layout:fragment="corpo">
</body>

</html>

