<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Editor do Guia de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" media="screen"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
</head>

<body>
<div th:replace="fragments/cabecalho"></div>
<div layout:fragment="corpo"></div>
</body>
</html>

