<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Acessar o Editor de Serviços</title>
</head>

<body layout:fragment="corpo">

<span class="cabecalho-cor"></span>
<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>Editor de Serviços</h1>
            </a>
        </div>
        <div class="metadados">&nbsp;</div>
        <span></span>
    </header>

    <form id="login" th:action="@{/editar/autenticar}" method="post">

        <h2>Acesso para Servidores Públicos</h2>

        <p th:if="${param.error}" class="erro">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;
            Seu CPF e/ou sua senha estão incorretos.
        </p>

        <p th:if="${param.sair}" class="info">
            <i class="fa fa-info"></i>&nbsp;
            Você saiu do sistema.
        </p>

        <p th:if="${param.sessao}" class="info">
            <i class="fa fa-info"></i>&nbsp;
            Sua sessão expirou!
        </p>

        <div class="borda">
            <label for="usuario">CPF</label>
            <input id="usuario" name="username" type="text" placeholder="XXX.XXX.XXX-XX" required="required"
                   autofocus="true"/>

            <label for="senha">Senha</label>
            <input id="senha" name="password" type="password" placeholder="Senha" required="required"/>

            <p class="tooltip-home">Esqueceu sua senha ou não tem cadastro? <span>Caso você não tenha cadastro ou tenha esquecido sua senha, entre em contato com o responsável (ponto focal) do seu órgão.</span></p>
            <button type="submit">
                Entrar
            </button>
        </div>

        <a><i class="fa fa-user"></i>&nbsp; Acesso para colaborar como Cidadão não cadastrado</a>

    </form>
</div>
<script src="/editar/assets/vendor.js"></script>
<script src="/editar/assets/app.js"></script>
<script>
    require('usuarios/cpf-mask')('usuario')
</script>
</body>
</html>