<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Gerar Nova Senha</title>
</head>

<body layout:fragment="corpo">

<span class="cabecalho-cor"></span>
<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>
                    <i class="fa fa-arrow-left"></i>
                    Editor de Serviços
                    <span class="nome-pagina" th:text="#{${'trocarSenha.titulo.' + pagina}}">Recuperar senha</span>
                </h1>
            </a>
        </div>
        <div class="metadados">&nbsp;</div>
        <span></span>
    </header>

    <div id="informacoes">
        <form id="recuperar" th:action="@{${'/editar/recuperar-senha?pagina=' + pagina}}" th:object="${formularioRecuperarSenha}" method="post">
            <fieldset>
                <h3 th:text="#{${'trocarSenha.instrucaoSenha.' + pagina}}">Crie uma nova senha:</h3>
                <p>1. Sua senha deve conter pelo menos 8 caracteres</p>
                <p>2. Crie uma senha segura e não esqueça de grava-la para seu uso posterior</p>
            </fieldset>
            <fieldset>
                <div th:if="${#fields.hasAnyErrors()}" class="erro">
                    <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
                </div>

                <label for="cpf"><h3>CPF</h3></label>
                <input id="cpf" name="camposVerificacaoRecuperarSenha.cpf" type="text" placeholder="___.___.___-__" required="required" autofocus="true"
                       th:class="${#fields.hasErrors('cpf')}? erroCampo"/>

                <label for="senha"><h3>Nova senha</h3></label>
                <input id="senha" name="camposSenha.senha" type="password" placeholder="Senha" required="required"
                       th:class="${#fields.hasErrors('camposSenha')}? erroCampo"/>

                <label for="confirmar_senha"><h3>Repita a nova senha</h3></label>
                <input id="confirmar_senha" name="camposSenha.confirmacaoSenha" type="password" placeholder="Senha" required="required"
                       th:class="${#fields.hasErrors('camposSenha')}? erroCampo"/>

                <input type="hidden" name="camposVerificacaoRecuperarSenha.usuarioId" th:value="${param.usuarioId} ? ${param.usuarioId[0]} : *{camposVerificacaoRecuperarSenha.usuarioId}"/>
                <input type="hidden" name="camposVerificacaoRecuperarSenha.token" th:value="${param.token} ? ${param.token[0]} : *{camposVerificacaoRecuperarSenha.token}"/>
                <button type="submit" class="botao-sucesso">
                    <i class="fa fa-save"></i>&nbsp;
                    Salvar nova senha
                </button>
            </fieldset>
        </form>
    </div>
</div>
<script src="/editar/assets/vendor.js"></script>
<script src="/editar/assets/app.js"></script>
<script th:inline="javascript">
    require('usuarios/cpf-mask')('cpf')
</script>
</body>
</html>