<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Gerenciar Usuarios</title>
</head>

<body layout:fragment="corpo">

<span class="cabecalho-cor"></span>
<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>
                    <i class="fa fa-arrow-left"></i>
                    Editor de Serviços
                    <span class="nome-pagina">Lista de usuários</span>
                </h1>
            </a>
        </div>
         <form id="logout" th:action="@{/editar/sair}" method="post">
            <span id="username"></span>
            <button type="submit">
                <i class="fa fa-sign-out"></i></button>
        </form>
        <span class="novo">
            <a id="novo-usuario" href="/editar/usuarios/usuario" class="button">
                <i class="fa fa-user-plus"></i>
                Novo Usuário
            </a>
        </span>
    </header>

    <div id="lista-usuarios" style="padding-top: 100px">
        <table id="usuarios">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:20%;">Email</th>
                    <th>CPF</th>
                    <th>Papel</th>
                    <th>Orgão</th>
                    <th>Situação</th>
                    <th style="width:7%"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.emailPrimario}"></td>
                    <td th:text="${usuario.cpf}"></td>
                    <td th:text="${usuario.papel.nome}"></td>
                    <td th:if="${siorg.nomeDoOrgao(usuario.siorg) != null}" th:text="${siorg.nomeDoOrgao(usuario.siorg).orElse(new String())}"></td>
                    <td>
                        <span th:if="${usuario.habilitado == true}" class="habilitado">Ativo</span>
                        <span th:if="${usuario.habilitado == false}" class="desabilitado">Inativo</span>
                    </td>
                    <td>
                        <form th:action="@{/editar/usuarios/usuario/{id}/editar(id=${usuario.id})}" method="post">
                            <button id="edicao-usuario" type="submit" class="editar">
                                <span>
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                                <span class="tooltip-content">
                                    Editar usuário
                                </span>
                            </button>
                        </form>
                        <form th:action="@{/editar/usuarios/usuario/{id}/recuperar-senha(id=${usuario.id})}" method="post">
                            <button alt="Requisitar nova senha" id="recuperar-senha-usuario" type="submit" class="recuperar-senha">
                                <span>
                                    <i class="fa fa-key"></i>
                                </span>
                                <span class="tooltip-content">
                                    Recuperar senha
                                </span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var r = new XMLHttpRequest();
    r.open("GET", "/editar/api/ping", true);
    r.onreadystatechange = function () {
      console.log(r.responseText);
      if (r.readyState != 4 || r.status != 200) return;
      document.getElementById('username').innerHTML = JSON.parse(r.responseText).profile.name.split(' ')[0];
    };
    r.send();
</script>
</body>
</html>