<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Gerenciar Usuarios</title>
</head>

<body layout:fragment="corpo">

<span class="cabecalho-cor"></span>
<div id="wrapper">
    <header>
        <div>
            <a href="/editar">
                <h1>
                    <i class="fa fa-arrow-left"></i>
                    Editor de Serviços
                    <span class="nome-pagina">Lista usuários</span>
                </h1>
            </a>
        </div>
        <div class="metadados">&nbsp;</div>
        <span></span>
        <form id="logout" th:action="@{/editar/sair}" method="post">
            <button type="submit">&nbsp; Sair &nbsp;
            <i class="fa fa-sign-out"></i></button>
        </form>
    </header>

    <div id="usuarios" style="padding-top: 100px">
        <table id="listagem-usuarios">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Papéis</th>
                    <th>Orgão</th>
                    <th>Situação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.emailPrimario}"></td>
                    <td th:text="${usuario.papel.nome}"></td>
                    <!--<td th:if="${siorg.nomeDoOrgao(usuario.siorg)}" th:text=""></td>-->
                    <td th:if="${siorg.nomeDoOrgao(usuario.siorg) != null}" th:text="${siorg.nomeDoOrgao(usuario.siorg).orElse(new String())}"></td>
                    <td>
                        <span th:if="${usuario.habilitado == true}" class="">Habilitado</span>
                        <span th:if="${usuario.habilitado == false}">Desabilitado</span>
                    </td>
                    <td>
                        <form th:action="@{/editar/usuarios/usuario/{id}/editar(id=${usuario.id})}" method="post">
                            <button id="edicao-usuario" type="submit">
                                <span>
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                            </button>
                        </form>
                        <form th:action="@{/editar/usuarios/usuario/{id}/recuperar-senha(id=${usuario.id})}" method="post">
                            <button id="recuperar-senha-usuario" type="submit">
                                <span>
                                    <i class="fa fa-key"></i>
                                </span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>

        </table>
        <!--
        <div th:each="usuario : ${usuarios}">
            <form th:action="@{/editar/usuarios/usuario/{id}/habilitar-desabilitar(id=${usuario.id})}" method="post">
                <div th:text="${usuario.nome}"></div>
                <button type="submit">habilitar/desabilitar usuario</button>
            </form>
            <form th:action="@{/editar/usuarios/usuario/{id}/editar(id=${usuario.id})}" method="post">
                <div th:text="${usuario.nome}"></div>
                <button type="submit">editar usuario</button>
            </form>

            <form th:action="@{/editar/usuarios/usuario/{id}/recuperar-senha(id=${usuario.id})}" method="post">
                <div th:text="${usuario.nome}"></div>
                <button type="submit">recuperar senha</button>
            </form>
        </div>
        -->
        <a class="botao-primario" href="/editar/usuarios/usuario">Novo usuário</a>
    </div>
</div>
</body>
</html>