<fieldset>
    <h3>Custo Estimado</h3>

    <p>
        Caso este serviço possua custos ou taxas, informe a estimativa mais fiel possível.
    </p>

    <p>
        <input class="inline inline-lg" type="text" placeholder="Nome do custo"/> R$ <input type="text" class="inline"/>

        <input class="inline inline-lg" type="text" placeholder="Nome do custo"/> R$ <input type="text" class="inline"/>

        <input class="inline inline-lg" type="text" placeholder="Nome do custo"/> R$ <input type="text" class="inline"/>
    </p>

    <p>
        <button><i class="fa fa-plus"></i> Adicionar custo</button>
    </p>

    <p>
        <label for="tempoEstimadoExato">
            <input id="tempoEstimadoExato" type="radio" name="exatidaoTempoEstimado" value="exato"/>
            Estas estimativas são válidas para qualquer caso de acesso a este serviço.
        </label>

        <label for="tempoEstimadoExcecoes">
            <input id="tempoEstimadoExcecoes" type="radio" name="exatidaoTempoEstimado" value="excecoes"/>
            Podem haver exceções a estas estimativas.
        </label>
    </p>

    <p>
        Caso haja exceções aos custos descritos neste serviço, será mostrado ao cidadão um texto de esclarecimento.
    </p>

</fieldset>