<fieldset class="required">
    <h3>Áreas de interesse</h3>

    <p>
        Escolha uma ou mais áreas de interesse, a partir do
        <a target="VCGE" href="http://vocab.e.gov.br/id/governo#esquema">Vocábulário Controlado do Governo Eletrônico
            (VCGE)</a>, relacionadas a este serviço.
    </p>

    <th:block th:each="areaDeInteresse : ${@areasDeInteresse}">
        <label th:for="${#ids.next('areasDeInteresse')}">
            <input type="checkbox"
                   th:field="*{areasDeInteresse}"
                   th:value="${areaDeInteresse}"
                   th:checked="${servico.areasDeInteresse?.contains(areaDeInteresse)}"/>
            <span th:text="${areaDeInteresse}">Área de Interesse</span>
        </label>
    </th:block>

</fieldset>
