<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required">
    <h3>Custo estimado</h3>

    <p>
        Este serviço é gratuito para o solicitante?
    </p>

    <label for="servico-gratuito-sim">
        <input id="servico-gratuito-sim" type="radio" th:field="*{gratuito}" th:value="true" th:checked="*{gratuito == true}"/> Sim
    </label>

    <label for="servico-gratuito-nao">
        <input id="servico-gratuito-nao" type="radio" th:field="*{gratuito}" th:value="false" th:checked="*{gratuito == false}"/> Não
    </label>

</fieldset>
</body>
</html>