<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset>
    <h3>Eventos da linha da vida</h3>

    <p>
        Escolha um ou mais eventos da linha da vida relacionados a este serviço.
    </p>

    <th:block th:each="eventoDaLinhaDaVida : ${@eventosDaLinhaDaVida}">
        <label th:for="${#ids.next('eventosDaLinhaDaVida')}">
            <input type="checkbox"
                   th:field="*{eventosDaLinhaDaVida}"
                   th:value="${eventoDaLinhaDaVida}"
                   th:checked="${servico.eventosDaLinhaDaVida?.contains(eventoDaLinhaDaVida)}"/>
            <span th:text="${eventoDaLinhaDaVida}">Evento da linha da vida</span>
        </label>
    </th:block>

</fieldset>
</body>
</html>