<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required">
    <h3>O que é?</h3>

    <p>
        Faça uma descrição sintética do serviço, contendo o resultado entregue ao solicitante. É fundamental que se
        explicite também qual o direito que o solicitante passa a poder exercer ou qual o dever que passa a cumprir.
    </p>

    <p>
        Ao ler, o solicitante deverá saber se este é mesmo o serviço que está procurando.
    </p>

    <textarea id="descricao" th:field="*{descricao}" maxlength="500" rows="7"></textarea>
</fieldset>
</body>
</html>
