<fieldset class="required">
    <h3>Órgão responsável</h3>

    <p>
        Selecione o órgão responsável por este serviço.
    </p>

    <select th:field="*{orgao}">

        <option th:selected="*{orgao == null}" th:value="null">Selecione um órgão…</option>
        <option th:each="orgao : ${@orgaos}"
                th:value="${orgao.id}"
                th:text="${orgao.nome}"
                th:selected="${servico.orgao?.id == orgao.id}">
            Nome do órgão
        </option>
    </select>

</fieldset>