<fieldset class="required">
    <h3>Quem pode utilizar esse serviço?</h3>

    <p>
        Descreva de maneira clara e específica quem são os solicitantes que podem utilizar este serviço.
    </p>

    <p>
        <input id="quemPodeUtilizar1" type="text" name="quemPodeUtilizar1" value=""
               placeholder="Ex.: Deficientes físicos"/>

        <input id="quemPodeUtilizar2" type="text" name="quemPodeUtilizar2" value=""
               placeholder="Ex.: Aposentados"/>

        <input id="quemPodeUtilizar3" type="text" name="quemPodeUtilizar3" value=""
               placeholder="Ex.: Cidadãos maiores de 16 anos"/>
    </p>

    <p>
        <button>
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar solicitante
        </button>
    </p>
</fieldset>