<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required">
    <h3>Quem pode utilizar esse serviço?</h3>

    <p>
        Descreva de maneira clara e específica quem são os solicitantes que podem utilizar este serviço.
    </p>

    <p>
        <th:block th:each="solicitante, row : *{solicitantes}">
            <input type="text" th:field="*{solicitantes[__${row.index}__]}" th:value="${solicitante}"
                   placeholder="Ex.: Deficientes físicos"/>
        </th:block>

        <input type="text"
               th:if="${servico.solicitantes == null || servico.solicitantes.isEmpty()}"
               th:field="*{solicitantes[0]}"
               value=""
               placeholder="Ex.: Deficientes físicos"/>
    </p>

    <p>
        <button name="add" type="submit" value="solicitante">
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar solicitante
        </button>
    </p>
</fieldset>
</body>
</html>