<fieldset class="required">
    <h3>Quem pode utilizar esse serviço?</h3>

    <p>
        Descreva de maneira clara e específica quem são os solicitantes que podem utilizar este serviço.
    </p>

    <p>
        <th:block th:each="solicitante : *{solicitantes}">
            <input type="text" th:field="*{solicitantes}" th:value="${solicitante}"
                   placeholder="Ex.: Deficientes físicos"/>
        </th:block>

        <input type="text" th:field="*{solicitantes[__${servico.solicitantes?.size() ?: 0}__]}" placeholder="Ex.: Deficientes físicos"/>
    </p>

    <p>
        <button>
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar solicitante
        </button>
    </p>
</fieldset>