<fieldset class="required">
    <h3>Segmentos da Sociedade</h3>

    <p>
        Escolha um ou mais segmentos da sociedade que acessam este serviço.
    </p>

    <th:block th:each="segmentoDaSociedade : ${@segmentosDaSociedade}">
        <label th:for="${#ids.next('segmentosDaSociedade')}">
            <input type="checkbox" th:field="*{segmentosDaSociedade}" th:value="${segmentoDaSociedade}" th:checked="${servico.segmentosDaSociedade.contains(segmentoDaSociedade)}"/>
            <span th:text="${segmentoDaSociedade}">Segmento da sociedade</span>
        </label>
    </th:block>

</fieldset>