<fieldset class="required">
    <h3>Segmentos da Sociedade</h3>

    <p>
        Escolha um ou mais segmentos da sociedade que acessam este serviço.
    </p>

    <label for="segmentoCidadaos">
        <input id="segmentoCidadaos" type="checkbox" name="segmentoDaSociedade"/>
        Cidadãos
    </label>

    <label for="segmentoEmpresas">
        <input id="segmentoEmpresas" type="checkbox" name="segmentoDaSociedade"/>
        Empresas
    </label>

    <label for="segmentoGoverno">
        <input id="segmentoGoverno" type="checkbox" name="segmentoDaSociedade"/>
        Governos
    </label>

    <label for="segmentoOutros">
        <input id="segmentoOutros" type="checkbox" name="segmentoDaSociedade"/>
        Demais segmentos (ONGs, organizações sociais, etc)
    </label>

</fieldset>