<fieldset class="required">
    <h3>Tempo total estimado</h3>

    <p>
        Descreva quanto tempo em média o solicitante levará para obter esse serviço.
    </p>

    <label for="tempoEstimadoPeriodo">
        <input type="radio" id="tempoEstimadoPeriodo" name="tempoEstimadoTipo"/>
        Entre <input class="inline" id="tempoEstimadoPeriodoMin" type="text" name="tempoEstimadoPeriodoMin"/>
        <select class="inline">
            <option>minutos</option>
            <option>horas</option>
            <option>dias</option>
            <option>dias corridos</option>
            <option>dias úteis</option>
            <option>meses</option>
        </select> e
        <input class="inline" id="tempoEstimadoPeriodoMax" type="text" name="tempoEstimadoPeriodoMax"/>
        <select class="inline">
            <option>minutos</option>
            <option>horas</option>
            <option>dias corridos</option>
            <option>dias úteis</option>
            <option>meses</option>
        </select>
    </label>

    <label for="tempoEstimadoExato">
        <input type="radio" id="tempoEstimadoExato" name="tempoEstimadoTipo"/>
        Até <input class="inline" id="tempoEstimadoExatoMin" type="text" name="tempoEstimadoExatoMin"/>
        <select class="inline">
            <option>minutos</option>
            <option>horas</option>
            <option>dias</option>
            <option>dias corridos</option>
            <option>dias úteis</option>
            <option>meses</option>
        </select>
    </label>

    <p>
        Existe alguma exceção ao tempo estimado? Caso haja, informe abaixo.
    </p>

    <textarea name="tempoEstimadoExcecao" maxlength="500" rows="7" 
        placeholder="Ex.: Nos estados do Paraná e Santa Catarina o tempo médio é de 10 dias úteis devido ao..."></textarea>

</fieldset>
