<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required">
    <h3>Tempo total estimado</h3>

    <p>
        Quanto tempo, em média, o solicitante levará para finalizar o processo de obtenção do benefício ou cumprimento
        do dever descrito neste serviço?
    </p>

    <label th:for="*{#ids.next('tempoEstimado.tipo')}">
        <input type="radio"
               th:value="entre"
               th:field="*{tempoEstimado.tipo}"
               th:checked="${servico.tempoEstimado?.tipo == 'entre'}"/>

        Entre

        <input class="inline" type="text" th:field="*{tempoEstimado.entreMinimo}"/>

        <select class="inline" th:field="*{tempoEstimado.entreTipoMinimo}">
            <option th:each="medida : ${@medidasDeTempo}" th:value="${medida}" th:text="${medida}"
                    th:selected="${servico.tempoEstimado?.entreTipoMinimo == medida}"></option>
        </select>

        e

        <input class="inline" type="text" th:field="*{tempoEstimado.entreMaximo}"/>

        <select class="inline" th:field="*{tempoEstimado.entreTipoMaximo}">
            <option th:each="medida : ${@medidasDeTempo}" th:value="${medida}" th:text="${medida}"
                    th:selected="${servico.tempoEstimado?.entreTipoMaximo == medida}"></option>
        </select>
    </label>

    <label th:for="*{#ids.next('tempoEstimado.tipo')}">
        <input type="radio"
               th:value="até"
               th:field="*{tempoEstimado.tipo}"
               th:checked="${servico.tempoEstimado?.tipo == 'até'}"/>

        Até

        <input class="inline" type="text" th:field="*{tempoEstimado.ateMaximo}"/>

        <select class="inline" th:field="*{tempoEstimado.ateTipoMaximo}">
            <option th:each="medida : ${@medidasDeTempo}" th:value="${medida}" th:text="${medida}"
                    th:selected="${servico.tempoEstimado?.ateTipoMaximo == medida}"></option>
        </select>
    </label>

    <p>
        Existem exceções ao tempo estimado? Quais?
    </p>

    <textarea name="tempoEstimadoExcecao" maxlength="500" rows="7"
              th:field="*{tempoEstimado.excecoes}"
              placeholder="Ex.: Nos estados do Paraná e Santa Catarina o tempo médio é de 10 dias úteis devido ao..."></textarea>

</fieldset>
</body>
</html>