<fieldset>
    <h3>Canais de comunicação</h3>

    <p>
        Informe os canais de comunicação disponíveis para esta etapa.
    </p>

    <label for="canal-1">
        <select class="inline">
            <option>Web</option>
            <option>Presencial</option>
            <option>Telefone</option>
            <option>E-mail</option>
            <option>Caixa postal</option>
            <option>Aplicativo móvel</option>
            <option>SMS</option>
            <option>Fax</option>
            <option>Rede social</option>
        </select>

        <input id="canal-1" class="inline inline-lg" type="text" placeholder="Ex.: www.orgao.gov.br"/>

        <label for="canal-preferencial-1" class="inline">
            <input type="radio" id="canal-preferencial-1" name="canal-preferencial" value="canal-1"/>
            Preferencial
        </label>

        <a class="inline remove" href="#">
            <span class="fa fa-times"></span>
        </a>

    </label>

    <label for="canal-2">
        <select class="inline">
            <option>Web</option>
            <option>Presencial</option>
            <option>Telefone</option>
            <option selected="selected">E-mail</option>
            <option>Caixa postal</option>
            <option>Aplicativo móvel</option>
            <option>SMS</option>
            <option>Fax</option>
            <option>Rede social</option>
        </select>
        <input id="canal-2" class="inline inline-lg" type="text" placeholder="Ex.: contato@orgao.gov.br"/>
        <label for="canal-preferencial-2" class="inline">
            <input type="radio" id="canal-preferencial-2" name="canal-preferencial" value="canal-2"/>
            Preferencial
        </label>
        <a class="inline remove" href="#">
            <span class="fa fa-times"></span>
        </a>
    </label>

    <p>
        <button>
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar canal
        </button>
    </p>
</fieldset>
