<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required canal-prestacao">
    <a th:id="${'etapas[' + __${row?.index ?: 0}__ + '].canaisDePrestacao'}"></a>
    <h3>Canais de prestação</h3>

    <p>
        Informe os canais de prestação disponíveis para esta etapa.
    </p>

    <div class="grupo-canal-prestacao" th:each="canal, rowCanal : *{etapas[__${row?.index ?: 0}__].canaisDePrestacao}">
        <select class="inline" th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[__${rowCanal.index}__].tipo}">
            <option value="">Selecione…</option>
            <option th:each="tipo : ${@tiposDeCanalDePrestacao}"
                    th:value="${tipo}"
                    th:text="${tipo}">Tipo de canal</option>
        </select>

        <label class="inline">
            <input type="checkbox"
                   th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[__${rowCanal.index}__].preferencial}"
                   th:value="true"
                   th:checked="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[__${rowCanal.index}__].preferencial}"/>
            Preferencial
        </label>

        <button type="submit" class="inline remove-peq" name="removerCanalDePrestacao" th:value="${__${row?.index ?: 0}__ + ',' + __${rowCanal?.index ?: 0}__}">
            <span class="fa fa-times"></span>
        </button>

        <label class="titulo">
            Texto para mostrar ao cidadão
            <input class="" type="text" placeholder="Ex.: www.orgao.gov.br"
                   th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[__${rowCanal.index}__].titulo}"/>
        </label>

        <label class="referencia">
            <span>Link/URL</span>
            <input class="" type="text" placeholder="Ex.: www.orgao.gov.br"
                   th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[__${rowCanal.index}__].referencia}"/>
        </label>
    </div>

    <div class="grupo-canal-prestacao" th:if="*{etapas[__${row?.index ?: 0}__]?.canaisDePrestacao == null || etapas[__${row?.index ?: 0}__]?.canaisDePrestacao?.isEmpty()}">
        <select class="inline" th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[0].tipo}">
            <option value="">Selecione…</option>
            <option th:each="tipo : ${@tiposDeCanalDePrestacao}"
                    th:value="${tipo}"
                    th:text="${tipo}">Tipo de canal</option>
        </select>

        <label class="inline">
            <input type="checkbox"
                   th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[0].preferencial}"
                   th:value="true"
                   th:checked="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[0].preferencial}"/>
            Preferencial
        </label>
        <button type="submit" class="inline remove-peq" name="removerCanalDePrestacao" th:value="${__${row?.index ?: 0}__ + ',' + __${rowCanal?.index ?: 0}__}">
            <span class="fa fa-times"></span>
        </button>

        <label class="titulo">
            Texto para mostrar ao cidadão
            <input class="" type="text" placeholder="Ex.: Inscreva-se no programa"
                   th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[0].titulo}"/>
        </label>

        <label class="referencia">
            <span>Link/URL</span>
            <input class="" type="text" placeholder="Ex.: www.orgao.gov.br"
                   th:field="*{etapas[__${row?.index ?: 0}__].canaisDePrestacao[0].referencia}"/>
        </label>
    </div>

    <p>
        <button name="adicionarCanalDePrestacao" th:value="${row?.index ?: 0}" type="submit">
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar canal
        </button>
    </p>
</fieldset>
</body>
</html>