<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset id="gratuitoNao-toggle">
    <a th:id="${'etapas[' + __${row?.index ?: 0}__ + '].custos'}"></a>
    <h3>Custos desta etapa do serviço</h3>

    <p>
        Informe a estimativa mais fiel possível com relação aos custos ou taxas sobre esta etapa.
    </p>

    <th:block th:each="custo, rowCusto : *{etapas[__${row?.index ?: 0}__].custos}">
        <input class="inline inline-lg" th:field="*{etapas[__${row?.index ?: 0}__].custos[__${rowCusto.index}__].descricao}" type="text" placeholder="Ex.: Taxa de emissão"/>
        R$ <input type="text" th:field="*{etapas[__${row?.index ?: 0}__].custos[__${rowCusto.index}__].valor}" class="inline"/>

        <button type="submit" class="inline remove-peq" name="removerCusto" th:value="${__${row?.index ?: 0}__ + ',' + __${rowCusto?.index ?: 0}__}">
            <span class="fa fa-times"></span>
        </button>
    </th:block>

    <th:block th:if="*{etapas[__${row?.index ?: 0}__]?.custos == null || etapas[__${row?.index ?: 0}__]?.custos.isEmpty()}">
        <input class="inline inline-lg" th:field="*{etapas[__${row?.index ?: 0}__].custos[0].descricao}" type="text" placeholder="Ex.: Taxa de emissão"/>
        R$ <input type="text" th:field="*{etapas[__${row?.index ?: 0}__].custos[0].valor}" class="inline"/>

        <button type="submit" class="inline remove-peq" name="removerCusto" th:value="${__${row?.index ?: 0}__ + ',' + __${rowCusto?.index ?: 0}__}">
            <span class="fa fa-times"></span>
        </button>
    </th:block>

    <div>
        <button name="adicionarCusto" th:value="${row?.index ?: 0}" type="submit">
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar custo
        </button>
    </div>

    <label for="custoEstimadoExcecoes">
        <input id="custoEstimadoExcecoes" type="checkbox" name="exatidaoCustoEstimado" value="excecoes"/>
        Pode haver exceções a estas estimativas (será mostrado ao solicitante um texto de esclarecimento)
    </label>

</fieldset>
</body>
</html>