<fieldset id="gratuitoNao-toggle">
    <h3>Custos desta etapa do serviço</h3>
    <span>
    <p>
        Informe a estimativa mais fiel possível com relação aos custos ou taxas sobre esta etapa.
    </p>

    <input class="inline inline-lg" type="text" placeholder="Ex.: Taxa de emissão"/> R$ <input type="text"
                                                                                               class="inline"/>
    <a class="inline remove" href="#">
        <span class="fa fa-times"></span>
    </a>

    <input class="inline inline-lg" type="text" placeholder="Ex.: Taxa de envio"/> R$ <input type="text"
                                                                                             class="inline"/>
    <a class="inline remove" href="#">
        <span class="fa fa-times"></span>
    </a>

    <p>
        <button>
            <i class="fa fa-plus"></i>&nbsp;
            Adicionar custo
        </button>
    </p>

    <p>
        <label for="custoEstimadoExcecoes">
            <input id="custoEstimadoExcecoes" type="checkbox" name="exatidaoCustoEstimado" value="excecoes"/>
            Pode haver exceções a estas estimativas (será mostrado ao solicitante um texto de esclarecimento)
        </label>
    </p>
    </span>
</fieldset>
