<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset>
    <h3>Documentos necessários</h3>

    <p>
        Adicione documentos, certidões ou declarações necessárias para esta etapa:
    </p>

    <th:block th:each="documento, rowDocs : *{etapas[__${row?.index ?: 0}__].documentos}">
        <input type="text" th:field="*{etapas[__${row?.index ?: 0}__].documentos[__${rowDocs.index}__]}" placeholder="Ex.: RG"/>
    </th:block>

    <th:block th:if="*{etapas[__${row?.index ?: 0}__]?.documentos == null || etapas[__${row?.index ?: 0}__]?.documentos.isEmpty()}">
        <input type="text" th:field="*{etapas[__${row?.index ?: 0}__].documentos[0]}" placeholder="Ex.: RG"/>
    </th:block>

    <button>
        <i class="fa fa-plus"></i>&nbsp;
        Adicionar Documento
    </button>

</fieldset>
</body>
</html>