<fieldset class="required">
    <h3>Título da etapa</h3>

    <p>
        Um título que indica de forma simples o objetivo dessa etapa.
    </p>

    <input id="etapa1-titulo" type="text" name="titulo" value="" placeholder="Ex.: Inscrição no SisFIES"/>
</fieldset>

<fieldset>
    <h3>Descrição da etapa</h3>

    <p>
        Descreva de forma breve os objetivos dessa etapa, os principais pontos que o solicitante deve observar, explicando o que deve ser feito para o cumprimento dessa etapa.
    </p>

    <textarea id="etapa1-descricao" name="descricao" maxlength="500" rows="7"
              placeholder="Ex.: O primeiro passo para efetuar a inscrição é acessar o SisFIES e informar os dados solicitados. No primeiro acesso..."></textarea>
</fieldset>
