<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required">
    <h3>Título da etapa</h3>

    <p>
        Um título que indica de forma simples o objetivo dessa etapa.
    </p>

    <input type="text" th:field="*{etapas[__${row?.index ?: 0}__].titulo}" placeholder="Ex.: Inscrição no SisFIES"/>
</fieldset>

<fieldset>
    <h3>Descrição da etapa</h3>

    <p>
        Descreva de forma breve os objetivos dessa etapa, os principais pontos que o solicitante deve observar, explicando o que deve ser feito para o cumprimento dessa etapa.
    </p>

    <textarea th:field="*{etapas[__${row?.index ?: 0}__].descricao}" maxlength="500" rows="7"
              placeholder="Ex.: O primeiro passo para efetuar a inscrição é acessar o SisFIES e informar os dados solicitados. No primeiro acesso..."></textarea>
</fieldset>
</body>
</html>