<fieldset class="required">
    <h3>Título da etapa</h3>
    <p>
        Um título que indica de forma simples o objetivo dessa etapa.
        <input id="etapa1-titulo" type="text" name="titulo" value="" placeholder="Ex.: Inscrição no SisFIES"/>
    </p>
    <h3>Descrição da etapa</h3>
    <p>
        Descreva as principais etapas que o solicitante deverá realizar para obter este direito ou cumprir este dever. Utilize apenas uma linha para cada etapa, e seja breve. O objetivo é situar o solicitante sobre como proceder.
        <textarea id="etapa1-descricao" name="descricao" maxlength="500" rows="7" placeholder="Ex.: O primeiro passo para efetuar a inscrição é acessar o SisFIES e informar os dados solicitados. No primeiro acesso..."></textarea>
    </p>
</fieldset>
