<fieldset class="required">
    <h3>Disponibilidade do serviço em meio eletrônico</h3>

    <p>
        Este é um serviço eletrônico e disponível em um site do governo?
    </p>

    <label for="eletronico_total">
        <input id="eletronico_total" type="radio" name="eletronico" value="total"/>
        Sim: serviço totalmente eletrônico
    </label>

    <label for="eletronico_parcial">
        <input id="eletronico_parcial" type="radio" name="eletronico" value="parcial"/>
        Sim: serviço parcialmente eletrônico (partes presenciais, via telefone ou em papel)
    </label>

    <label for="eletronico_nao">
        <input id="eletronico_nao" type="radio" name="eletronico" value="nao"/>
        Não: serviço não possui etapas digitais
    </label>
</fieldset>
