<!DOCTYPE html>
<html lang="pt-br" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<fieldset class="required">
    <h3>Disponibilidade do serviço em meio eletrônico</h3>

    <p>
        Este é um serviço eletrônico e disponível em um site do governo?
    </p>

    <th:block th:each="situacao : ${ {'Sim: serviço totalmente eletrônico', 'Sim: serviço parcialmente eletrônico (partes presenciais, via telefone ou em papel)', 'Não: serviço não possui etapas eletrônicas'} }">
        <label th:for="${#ids.next('situacao')}">
            <input type="radio" th:field="*{situacao}" th:value="${situacao}"/>
            <span th:text="${situacao}"></span>
        </label>
    </th:block>

</fieldset>
</body>
</html>